body{background: #333333; 
  height: 100vh;
 display: flex;  
 justify-content: center;
 align-items: center; 
  }
.canvas{
 width: 480px; 
 height: 480px; 
 } 
.pixel{
 width: 30px; 
 height: 30px; 
float: left; 
box-shadow: 0px 0px 1px #fff;}
 .pixel:nth-child(174){ background: #594900}
.pixel:nth-child(173){ background: #594900}
.pixel:nth-child(172){ background: #FFE5FE}
.pixel:nth-child(171){ background: #FFE5FE}
.pixel:nth-child(170){ background: #FFE5FE}
.pixel:nth-child(169){ background: #FFE5FE}
.pixel:nth-child(168){ background: #FFE5FE}
.pixel:nth-child(167){ background: #000000}
.pixel:nth-child(166){ background: #000000}
.pixel:nth-child(165){ background: #000000}
.pixel:nth-child(164){ background: #000000}
.pixel:nth-child(156){ background: #FFE5FE}
.pixel:nth-child(155){ background: #FFE5FE}
.pixel:nth-child(154){ background: #FFE5FE}
.pixel:nth-child(153){ background: #FFE5FE}
.pixel:nth-child(152){ background: #FFE5FE}
.pixel:nth-child(151){ background: #FFE5FE}
.pixel:nth-child(150){ background: #FFE5FE}
.pixel:nth-child(149){ background: #FFE5FE}
.pixel:nth-child(141){ background: #FF0000}
.pixel:nth-child(140){ background: #FF0000}
.pixel:nth-child(139){ background: #0000FF}
.pixel:nth-child(138){ background: #FF0000}
.pixel:nth-child(137){ background: #FF0000}
.pixel:nth-child(136){ background: #FF0000}
.pixel:nth-child(135){ background: #FF0000}
.pixel:nth-child(126){ background: #FF0000}
.pixel:nth-child(125){ background: #FF0000}
.pixel:nth-child(124){ background: #FF0000}
.pixel:nth-child(123){ background: #0000FF}
.pixel:nth-child(122){ background: #FF0000}
.pixel:nth-child(121){ background: #FF0000}
.pixel:nth-child(120){ background: #0000FF}
.pixel:nth-child(119){ background: #FF0000}
.pixel:nth-child(118){ background: #FF0000}
.pixel:nth-child(117){ background: #FF0000}
.pixel:nth-child(116){ background: #FF0000}
.pixel:nth-child(111){ background: #FF0000}
.pixel:nth-child(110){ background: #FF0000}
.pixel:nth-child(109){ background: #FF0000}
.pixel:nth-child(108){ background: #FF0000}
.pixel:nth-child(107){ background: #0000FF}
.pixel:nth-child(106){ background: #0000FF}
.pixel:nth-child(105){ background: #0000FF}
.pixel:nth-child(104){ background: #0000FF}
.pixel:nth-child(103){ background: #FF0000}
.pixel:nth-child(102){ background: #FF0000}
.pixel:nth-child(101){ background: #FF0000}
.pixel:nth-child(100){ background: #FF0000}
 .pixel:nth-child(237){ background: #FF0000}
.pixel:nth-child(236){ background: #FF0000}
.pixel:nth-child(235){ background: #FF0000}
.pixel:nth-child(234){ background: #FF0000}
.pixel:nth-child(233){ background: #FF0000}
.pixel:nth-child(232){ background: #FF0000}
.pixel:nth-child(231){ background: #FF0000}
.pixel:nth-child(230){ background: #FF0000}
.pixel:nth-child(221){ background: #594900}
.pixel:nth-child(220){ background: #594900}
.pixel:nth-child(219){ background: #594900}
.pixel:nth-child(218){ background: #FFE5FE}
.pixel:nth-child(217){ background: #FFE5FE}
.pixel:nth-child(216){ background: #FFE5FE}
.pixel:nth-child(215){ background: #000000}
.pixel:nth-child(214){ background: #FFE5FE}
.pixel:nth-child(206){ background: #594900}
.pixel:nth-child(205){ background: #FFE5FE}
.pixel:nth-child(204){ background: #594900}
.pixel:nth-child(203){ background: #FFE5FE}
.pixel:nth-child(202){ background: #FFE5FE}
.pixel:nth-child(201){ background: #FFE5FE}
.pixel:nth-child(200){ background: #FFE5FE}
.pixel:nth-child(199){ background: #000000}
.pixel:nth-child(198){ background: #FFE5FE}
.pixel:nth-child(197){ background: #FFE5FE}
.pixel:nth-child(196){ background: #FFE5FE}
.pixel:nth-child(190){ background: #594900}
.pixel:nth-child(189){ background: #FFE5FE}
.pixel:nth-child(188){ background: #594900}
.pixel:nth-child(187){ background: #594900}
.pixel:nth-child(186){ background: #FFE5FE}
.pixel:nth-child(185){ background: #FFE5FE}
.pixel:nth-child(184){ background: #FFE5FE}
.pixel:nth-child(183){ background: #FFE5FE}
.pixel:nth-child(182){ background: #000000}
.pixel:nth-child(181){ background: #FFE5FE}
.pixel:nth-child(180){ background: #FFE5FE}
 .pixel:nth-child(95){ background: #FFE5FE}
.pixel:nth-child(94){ background: #FFE5FE}
.pixel:nth-child(93){ background: #FF0000}
.pixel:nth-child(92){ background: #0000FF}
.pixel:nth-child(91){ background: #FBDD4D}
.pixel:nth-child(90){ background: #0000FF}
.pixel:nth-child(89){ background: #0000FF}
.pixel:nth-child(88){ background: #FBDD4D}
.pixel:nth-child(87){ background: #0000FF}
.pixel:nth-child(86){ background: #FF0000}
.pixel:nth-child(85){ background: #FFE5FE}
.pixel:nth-child(84){ background: #FFE5FE}
.pixel:nth-child(79){ background: #FFE5FE}
.pixel:nth-child(78){ background: #FFE5FE}
.pixel:nth-child(77){ background: #FFE5FE}
.pixel:nth-child(76){ background: #0000FF}
.pixel:nth-child(75){ background: #0000FF}
.pixel:nth-child(74){ background: #0000FF}
.pixel:nth-child(73){ background: #0000FF}
.pixel:nth-child(72){ background: #0000FF}
.pixel:nth-child(71){ background: #0000FF}
.pixel:nth-child(70){ background: #FFE5FE}
.pixel:nth-child(69){ background: #FFE5FE}
.pixel:nth-child(68){ background: #FFE5FE}
.pixel:nth-child(63){ background: #FFE5FE}
.pixel:nth-child(62){ background: #FFE5FE}
.pixel:nth-child(61){ background: #0000FF}
.pixel:nth-child(60){ background: #0000FF}
.pixel:nth-child(59){ background: #0000FF}
.pixel:nth-child(58){ background: #0000FF}
.pixel:nth-child(57){ background: #0000FF}
.pixel:nth-child(56){ background: #0000FF}
.pixel:nth-child(55){ background: #0000FF}
.pixel:nth-child(54){ background: #0000FF}
.pixel:nth-child(53){ background: #FFE5FE}
.pixel:nth-child(52){ background: #FFE5FE}
.pixel:nth-child(45){ background: #0000FF}
.pixel:nth-child(44){ background: #0000FF}
.pixel:nth-child(43){ background: #0000FF}
.pixel:nth-child(40){ background: #0000FF}
.pixel:nth-child(39){ background: #0000FF}
.pixel:nth-child(38){ background: #0000FF}
.pixel:nth-child(30){ background: #594900}
.pixel:nth-child(29){ background: #594900}
.pixel:nth-child(28){ background: #594900}
.pixel:nth-child(23){ background: #594900}
.pixel:nth-child(22){ background: #594900}
.pixel:nth-child(21){ background: #594900}
.pixel:nth-child(15){ background: #594900}
.pixel:nth-child(14){ background: #594900}
.pixel:nth-child(13){ background: #594900}
.pixel:nth-child(12){ background: #594900}
.pixel:nth-child(7){ background: #594900}
.pixel:nth-child(6){ background: #594900}
.pixel:nth-child(5){ background: #594900}
.pixel:nth-child(4){ background: #594900}
