body{background: #333333; 
  height: 100vh;
 display: flex;  
 justify-content: center;
 align-items: center; 
  }
.canvas{
 width: 480px; 
 height: 480px; 
 } 
.pixel{
 width: 30px; 
 height: 30px; 
float: left; 
box-shadow: 0px 0px 1px #fff;}
 .pixel:nth-child(83){ background: #FFE5FE}
.pixel:nth-child(84){ background: #FFE5FE}
.pixel:nth-child(85){ background: #FFE5FE}
.pixel:nth-child(86){ background: #FFE5FE}
.pixel:nth-child(87){ background: #FFE5FE}
.pixel:nth-child(88){ background: #FFE5FE}
.pixel:nth-child(89){ background: #FFE5FE}
.pixel:nth-child(90){ background: #FFE5FE}
.pixel:nth-child(91){ background: #FFE5FE}
.pixel:nth-child(92){ background: #FFE5FE}
.pixel:nth-child(93){ background: #FFE5FE}
.pixel:nth-child(101){ background: #FFE5FE}
.pixel:nth-child(102){ background: #FFE5FE}
.pixel:nth-child(103){ background: #FFE5FE}
.pixel:nth-child(104){ background: #FFE5FE}
.pixel:nth-child(105){ background: #FFE5FE}
.pixel:nth-child(106){ background: #FFE5FE}
.pixel:nth-child(107){ background: #FFE5FE}
.pixel:nth-child(108){ background: #FFE5FE}
.pixel:nth-child(116){ background: #FFE5FE}
.pixel:nth-child(117){ background: #FFE5FE}
.pixel:nth-child(118){ background: #FFE5FE}
.pixel:nth-child(119){ background: #FFE5FE}
.pixel:nth-child(120){ background: #FFE5FE}
.pixel:nth-child(121){ background: #FFE5FE}
.pixel:nth-child(122){ background: #FFE5FE}
.pixel:nth-child(131){ background: #FFE5FE}
.pixel:nth-child(132){ background: #FFE5FE}
.pixel:nth-child(133){ background: #FFE5FE}
.pixel:nth-child(134){ background: #FFE5FE}
.pixel:nth-child(135){ background: #FFE5FE}
.pixel:nth-child(136){ background: #FFE5FE}
.pixel:nth-child(137){ background: #FFE5FE}
.pixel:nth-child(138){ background: #FFE5FE}
.pixel:nth-child(139){ background: #FFE5FE}
.pixel:nth-child(140){ background: #FFE5FE}
.pixel:nth-child(141){ background: #FFE5FE}
.pixel:nth-child(146){ background: #FFE5FE}
.pixel:nth-child(147){ background: #FFE5FE}
.pixel:nth-child(148){ background: #FFE5FE}
.pixel:nth-child(149){ background: #FFE5FE}
.pixel:nth-child(150){ background: #FFE5FE}
.pixel:nth-child(151){ background: #FFE5FE}
.pixel:nth-child(152){ background: #FFE5FE}
.pixel:nth-child(153){ background: #FFE5FE}
.pixel:nth-child(154){ background: #FFE5FE}
.pixel:nth-child(155){ background: #FFE5FE}
.pixel:nth-child(156){ background: #FFE5FE}
.pixel:nth-child(157){ background: #FFE5FE}
 .pixel:nth-child(20){ background: #FFE5FE}
.pixel:nth-child(21){ background: #FFE5FE}
.pixel:nth-child(22){ background: #FFE5FE}
.pixel:nth-child(23){ background: #FFE5FE}
.pixel:nth-child(24){ background: #FFE5FE}
.pixel:nth-child(25){ background: #FFE5FE}
.pixel:nth-child(26){ background: #FFE5FE}
.pixel:nth-child(27){ background: #FFE5FE}
.pixel:nth-child(36){ background: #FFE5FE}
.pixel:nth-child(37){ background: #FFE5FE}
.pixel:nth-child(38){ background: #FFE5FE}
.pixel:nth-child(39){ background: #FFE5FE}
.pixel:nth-child(40){ background: #FFE5FE}
.pixel:nth-child(41){ background: #FFE5FE}
.pixel:nth-child(42){ background: #FFE5FE}
.pixel:nth-child(43){ background: #FFE5FE}
.pixel:nth-child(51){ background: #FFE5FE}
.pixel:nth-child(52){ background: #FFE5FE}
.pixel:nth-child(53){ background: #FFE5FE}
.pixel:nth-child(54){ background: #FFE5FE}
.pixel:nth-child(55){ background: #FFE5FE}
.pixel:nth-child(56){ background: #FFE5FE}
.pixel:nth-child(57){ background: #FFE5FE}
.pixel:nth-child(58){ background: #FFE5FE}
.pixel:nth-child(59){ background: #FFE5FE}
.pixel:nth-child(60){ background: #FFE5FE}
.pixel:nth-child(61){ background: #FFE5FE}
.pixel:nth-child(67){ background: #FFE5FE}
.pixel:nth-child(68){ background: #FFE5FE}
.pixel:nth-child(69){ background: #FFE5FE}
.pixel:nth-child(70){ background: #FFE5FE}
.pixel:nth-child(71){ background: #FFE5FE}
.pixel:nth-child(72){ background: #FFE5FE}
.pixel:nth-child(73){ background: #FFE5FE}
.pixel:nth-child(74){ background: #FFE5FE}
.pixel:nth-child(75){ background: #FFE5FE}
.pixel:nth-child(76){ background: #FFE5FE}
.pixel:nth-child(77){ background: #FFE5FE}
.pixel:nth-child(78){ background: #FFE5FE}
 .pixel:nth-child(162){ background: #FFE5FE}
.pixel:nth-child(163){ background: #FFE5FE}
.pixel:nth-child(164){ background: #FFE5FE}
.pixel:nth-child(165){ background: #FFE5FE}
.pixel:nth-child(166){ background: #FFE5FE}
.pixel:nth-child(167){ background: #FFE5FE}
.pixel:nth-child(168){ background: #FFE5FE}
.pixel:nth-child(169){ background: #FFE5FE}
.pixel:nth-child(170){ background: #FFE5FE}
.pixel:nth-child(171){ background: #FFE5FE}
.pixel:nth-child(172){ background: #FFE5FE}
.pixel:nth-child(173){ background: #FFE5FE}
.pixel:nth-child(178){ background: #FFE5FE}
.pixel:nth-child(179){ background: #FFE5FE}
.pixel:nth-child(180){ background: #FFE5FE}
.pixel:nth-child(181){ background: #FFE5FE}
.pixel:nth-child(182){ background: #FFE5FE}
.pixel:nth-child(183){ background: #FFE5FE}
.pixel:nth-child(184){ background: #FFE5FE}
.pixel:nth-child(185){ background: #FFE5FE}
.pixel:nth-child(186){ background: #FFE5FE}
.pixel:nth-child(187){ background: #FFE5FE}
.pixel:nth-child(188){ background: #FFE5FE}
.pixel:nth-child(189){ background: #FFE5FE}
.pixel:nth-child(194){ background: #FFE5FE}
.pixel:nth-child(195){ background: #FFE5FE}
.pixel:nth-child(196){ background: #FFE5FE}
.pixel:nth-child(197){ background: #FFE5FE}
.pixel:nth-child(198){ background: #FFE5FE}
.pixel:nth-child(199){ background: #FFE5FE}
.pixel:nth-child(200){ background: #FFE5FE}
.pixel:nth-child(201){ background: #FFE5FE}
.pixel:nth-child(202){ background: #FFE5FE}
.pixel:nth-child(203){ background: #FFE5FE}
.pixel:nth-child(204){ background: #FFE5FE}
.pixel:nth-child(205){ background: #FFE5FE}
.pixel:nth-child(212){ background: #FFE5FE}
.pixel:nth-child(213){ background: #FFE5FE}
.pixel:nth-child(214){ background: #FFE5FE}
.pixel:nth-child(217){ background: #FFE5FE}
.pixel:nth-child(218){ background: #FFE5FE}
.pixel:nth-child(219){ background: #FFE5FE}
.pixel:nth-child(227){ background: #FFE5FE}
.pixel:nth-child(228){ background: #FFE5FE}
.pixel:nth-child(229){ background: #FFE5FE}
.pixel:nth-child(234){ background: #FFE5FE}
.pixel:nth-child(235){ background: #FFE5FE}
.pixel:nth-child(236){ background: #FFE5FE}
.pixel:nth-child(242){ background: #FFE5FE}
.pixel:nth-child(243){ background: #FFE5FE}
.pixel:nth-child(244){ background: #FFE5FE}
.pixel:nth-child(245){ background: #FFE5FE}
.pixel:nth-child(250){ background: #FFE5FE}
.pixel:nth-child(251){ background: #FFE5FE}
.pixel:nth-child(252){ background: #FFE5FE}
.pixel:nth-child(253){ background: #FFE5FE}
