body{background: #333333; 
  height: 100vh;
 display: flex;  
 justify-content: center;
 align-items: center; 
  }
.canvas{
 width: 560px; 
 height: 560px; 
 } 
.pixel{
 width: 35px; 
 height: 35px; 
float: left; 
box-shadow: 0px 0px 1px #fff;}
 .pixel:nth-child(6){ background: #FFFFFF}
.pixel:nth-child(7){ background: #FFFFFF}
.pixel:nth-child(8){ background: #FFFFFF}
.pixel:nth-child(9){ background: #FFFFFF}
.pixel:nth-child(10){ background: #FFFFFF}
.pixel:nth-child(11){ background: #FFFFFF}
.pixel:nth-child(20){ background: #FFFFFF}
.pixel:nth-child(21){ background: #FFFFFF}
.pixel:nth-child(22){ background: #FFFFFF}
.pixel:nth-child(23){ background: #FFFFFF}
.pixel:nth-child(24){ background: #FFFFFF}
.pixel:nth-child(25){ background: #FFFFFF}
.pixel:nth-child(26){ background: #FFFFFF}
.pixel:nth-child(27){ background: #FFFFFF}
.pixel:nth-child(28){ background: #FFFFFF}
.pixel:nth-child(29){ background: #FFFFFF}
.pixel:nth-child(35){ background: #FFFFFF}
.pixel:nth-child(36){ background: #FFFFFF}
.pixel:nth-child(37){ background: #FFFFFF}
.pixel:nth-child(38){ background: #FFFFFF}
.pixel:nth-child(39){ background: #FFFFFF}
.pixel:nth-child(40){ background: #FFFFFF}
.pixel:nth-child(41){ background: #FFFFFF}
.pixel:nth-child(42){ background: #FFFFFF}
.pixel:nth-child(43){ background: #FFFFFF}
.pixel:nth-child(44){ background: #FFFFFF}
.pixel:nth-child(45){ background: #FFFFFF}
.pixel:nth-child(46){ background: #FFFFFF}
.pixel:nth-child(50){ background: #FFFFFF}
.pixel:nth-child(51){ background: #FFFFFF}
.pixel:nth-child(52){ background: #FFFFFF}
.pixel:nth-child(53){ background: #FFFFFF}
.pixel:nth-child(54){ background: #FFFFFF}
.pixel:nth-child(55){ background: #FFFFFF}
.pixel:nth-child(56){ background: #FFFFFF}
.pixel:nth-child(57){ background: #FFFFFF}
.pixel:nth-child(58){ background: #FFFFFF}
.pixel:nth-child(59){ background: #FFFFFF}
.pixel:nth-child(60){ background: #FFFFFF}
.pixel:nth-child(61){ background: #FFFFFF}
.pixel:nth-child(62){ background: #FFFFFF}
.pixel:nth-child(63){ background: #FFFFFF}
.pixel:nth-child(66){ background: #FFFFFF}
.pixel:nth-child(67){ background: #FFFFFF}
.pixel:nth-child(68){ background: #FFFFFF}
.pixel:nth-child(69){ background: #FFFFFF}
.pixel:nth-child(70){ background: #FFFFFF}
.pixel:nth-child(71){ background: #FFFFFF}
.pixel:nth-child(72){ background: #FFFFFF}
.pixel:nth-child(73){ background: #FFFFFF}
.pixel:nth-child(74){ background: #FFFFFF}
.pixel:nth-child(75){ background: #FFFFFF}
.pixel:nth-child(76){ background: #FFFFFF}
.pixel:nth-child(77){ background: #FFFFFF}
.pixel:nth-child(78){ background: #FFFFFF}
.pixel:nth-child(79){ background: #FFFFFF}
.pixel:nth-child(81){ background: #FFFFFF}
.pixel:nth-child(82){ background: #FFFFFF}
.pixel:nth-child(83){ background: #FFFFFF}
.pixel:nth-child(84){ background: #FFFFFF}
.pixel:nth-child(85){ background: #FFFFFF}
.pixel:nth-child(86){ background: #FFFFFF}
.pixel:nth-child(87){ background: #FFFFFF}
.pixel:nth-child(88){ background: #FFFFFF}
.pixel:nth-child(89){ background: #FFFFFF}
.pixel:nth-child(90){ background: #FFFFFF}
.pixel:nth-child(91){ background: #FFFFFF}
.pixel:nth-child(92){ background: #FFFFFF}
.pixel:nth-child(93){ background: #FFFFFF}
.pixel:nth-child(94){ background: #FFFFFF}
.pixel:nth-child(95){ background: #FFFFFF}
.pixel:nth-child(96){ background: #FFFFFF}
.pixel:nth-child(97){ background: #FFFFFF}
.pixel:nth-child(98){ background: #FFFFFF}
.pixel:nth-child(99){ background: #FFFFFF}
.pixel:nth-child(100){ background: #FFFFFF}
.pixel:nth-child(101){ background: #FFFFFF}
.pixel:nth-child(102){ background: #FFFFFF}
.pixel:nth-child(103){ background: #FFFFFF}
.pixel:nth-child(104){ background: #FFFFFF}
.pixel:nth-child(105){ background: #FFFFFF}
.pixel:nth-child(106){ background: #FFFFFF}
.pixel:nth-child(107){ background: #FFFFFF}
.pixel:nth-child(108){ background: #FFFFFF}
.pixel:nth-child(109){ background: #FFFFFF}
.pixel:nth-child(110){ background: #FFFFFF}
.pixel:nth-child(111){ background: #FFFFFF}
.pixel:nth-child(112){ background: #FFFFFF}
.pixel:nth-child(113){ background: #FFFFFF}
.pixel:nth-child(114){ background: #FFFFFF}
.pixel:nth-child(115){ background: #FFFFFF}
.pixel:nth-child(116){ background: #FFFFFF}
.pixel:nth-child(117){ background: #FFFFFF}
.pixel:nth-child(118){ background: #FFFFFF}
.pixel:nth-child(119){ background: #FFFFFF}
.pixel:nth-child(120){ background: #FFFFFF}
.pixel:nth-child(121){ background: #FFFFFF}
.pixel:nth-child(122){ background: #FFFFFF}
.pixel:nth-child(123){ background: #FFFFFF}
.pixel:nth-child(124){ background: #FFFFFF}
.pixel:nth-child(125){ background: #FFFFFF}
.pixel:nth-child(126){ background: #FFFFFF}
.pixel:nth-child(127){ background: #FFFFFF}
.pixel:nth-child(128){ background: #FFFFFF}
.pixel:nth-child(129){ background: #FFFFFF}
.pixel:nth-child(130){ background: #FFFFFF}
.pixel:nth-child(131){ background: #FFFFFF}
.pixel:nth-child(132){ background: #FFFFFF}
.pixel:nth-child(133){ background: #FFFFFF}
.pixel:nth-child(134){ background: #FFFFFF}
.pixel:nth-child(135){ background: #FFFFFF}
.pixel:nth-child(136){ background: #FFFFFF}
.pixel:nth-child(137){ background: #FFFFFF}
.pixel:nth-child(138){ background: #FFFFFF}
.pixel:nth-child(139){ background: #FFFFFF}
.pixel:nth-child(140){ background: #FFFFFF}
.pixel:nth-child(141){ background: #FFFFFF}
.pixel:nth-child(142){ background: #FFFFFF}
.pixel:nth-child(143){ background: #FFFFFF}
.pixel:nth-child(144){ background: #FFFFFF}
.pixel:nth-child(145){ background: #FFFFFF}
.pixel:nth-child(146){ background: #FFFFFF}
.pixel:nth-child(147){ background: #FFFFFF}
.pixel:nth-child(148){ background: #FFFFFF}
.pixel:nth-child(149){ background: #FFFFFF}
.pixel:nth-child(150){ background: #FFFFFF}
.pixel:nth-child(151){ background: #FFFFFF}
.pixel:nth-child(152){ background: #FFFFFF}
.pixel:nth-child(153){ background: #FFFFFF}
.pixel:nth-child(154){ background: #FFFFFF}
.pixel:nth-child(155){ background: #FFFFFF}
.pixel:nth-child(156){ background: #FFFFFF}
.pixel:nth-child(157){ background: #FFFFFF}
.pixel:nth-child(158){ background: #FFFFFF}
.pixel:nth-child(159){ background: #FFFFFF}
.pixel:nth-child(160){ background: #FFFFFF}
.pixel:nth-child(161){ background: #FFFFFF}
.pixel:nth-child(162){ background: #FFFFFF}
.pixel:nth-child(163){ background: #FFFFFF}
.pixel:nth-child(164){ background: #FFFFFF}
.pixel:nth-child(165){ background: #FFFFFF}
.pixel:nth-child(166){ background: #FFFFFF}
.pixel:nth-child(167){ background: #FFFFFF}
.pixel:nth-child(168){ background: #FFFFFF}
.pixel:nth-child(169){ background: #FFFFFF}
.pixel:nth-child(170){ background: #FFFFFF}
.pixel:nth-child(171){ background: #FFFFFF}
.pixel:nth-child(172){ background: #FFFFFF}
.pixel:nth-child(173){ background: #FFFFFF}
.pixel:nth-child(174){ background: #FFFFFF}
.pixel:nth-child(175){ background: #FFFFFF}
.pixel:nth-child(176){ background: #FFFFFF}
.pixel:nth-child(178){ background: #FFFFFF}
.pixel:nth-child(179){ background: #FFFFFF}
.pixel:nth-child(180){ background: #FFFFFF}
.pixel:nth-child(181){ background: #FFFFFF}
.pixel:nth-child(182){ background: #FFFFFF}
.pixel:nth-child(183){ background: #FFFFFF}
.pixel:nth-child(184){ background: #FFFFFF}
.pixel:nth-child(185){ background: #FFFFFF}
.pixel:nth-child(186){ background: #FFFFFF}
.pixel:nth-child(187){ background: #FFFFFF}
.pixel:nth-child(188){ background: #FFFFFF}
.pixel:nth-child(189){ background: #FFFFFF}
.pixel:nth-child(190){ background: #FFFFFF}
.pixel:nth-child(191){ background: #FFFFFF}
.pixel:nth-child(195){ background: #FFFFFF}
.pixel:nth-child(196){ background: #FFFFFF}
.pixel:nth-child(197){ background: #FFFFFF}
.pixel:nth-child(198){ background: #FFFFFF}
.pixel:nth-child(199){ background: #FFFFFF}
.pixel:nth-child(200){ background: #FFFFFF}
.pixel:nth-child(201){ background: #FFFFFF}
.pixel:nth-child(202){ background: #FFFFFF}
.pixel:nth-child(203){ background: #FFFFFF}
.pixel:nth-child(204){ background: #FFFFFF}
.pixel:nth-child(205){ background: #FFFFFF}
.pixel:nth-child(206){ background: #FFFFFF}
.pixel:nth-child(211){ background: #FFFFFF}
.pixel:nth-child(212){ background: #FFFFFF}
.pixel:nth-child(213){ background: #FFFFFF}
.pixel:nth-child(214){ background: #FFFFFF}
.pixel:nth-child(215){ background: #FFFFFF}
.pixel:nth-child(216){ background: #FFFFFF}
.pixel:nth-child(217){ background: #FFFFFF}
.pixel:nth-child(218){ background: #FFFFFF}
.pixel:nth-child(219){ background: #FFFFFF}
.pixel:nth-child(220){ background: #FFFFFF}
.pixel:nth-child(221){ background: #FFFFFF}
.pixel:nth-child(222){ background: #FFFFFF}
.pixel:nth-child(228){ background: #FFFFFF}
.pixel:nth-child(229){ background: #FFFFFF}
.pixel:nth-child(230){ background: #FFFFFF}
.pixel:nth-child(231){ background: #FFFFFF}
.pixel:nth-child(232){ background: #FFFFFF}
.pixel:nth-child(233){ background: #FFFFFF}
.pixel:nth-child(234){ background: #FFFFFF}
.pixel:nth-child(235){ background: #FFFFFF}
.pixel:nth-child(236){ background: #FFFFFF}
.pixel:nth-child(237){ background: #FFFFFF}
.pixel:nth-child(245){ background: #FFFFFF}
.pixel:nth-child(246){ background: #FFFFFF}
.pixel:nth-child(247){ background: #FFFFFF}
.pixel:nth-child(248){ background: #FFFFFF}
.pixel:nth-child(249){ background: #FFFFFF}
.pixel:nth-child(250){ background: #FFFFFF}
.pixel:nth-child(251){ background: #FFFFFF}
.pixel:nth-child(252){ background: #FFFFFF}
 .pixel:nth-child(22){ background: #4C4C4C}
.pixel:nth-child(23){ background: #4C4C4C}
.pixel:nth-child(24){ background: #4C4C4C}
.pixel:nth-child(25){ background: #4C4C4C}
.pixel:nth-child(38){ background: #4C4C4C}
.pixel:nth-child(39){ background: #4C4C4C}
.pixel:nth-child(40){ background: #4C4C4C}
.pixel:nth-child(41){ background: #4C4C4C}
.pixel:nth-child(53){ background: #4C4C4C}
.pixel:nth-child(54){ background: #4C4C4C}
.pixel:nth-child(55){ background: #4C4C4C}
.pixel:nth-child(56){ background: #4C4C4C}
.pixel:nth-child(57){ background: #4C4C4C}
.pixel:nth-child(58){ background: #4C4C4C}
.pixel:nth-child(68){ background: #4C4C4C}
.pixel:nth-child(69){ background: #4C4C4C}
.pixel:nth-child(74){ background: #4C4C4C}
.pixel:nth-child(75){ background: #4C4C4C}
.pixel:nth-child(82){ background: #4C4C4C}
.pixel:nth-child(83){ background: #4C4C4C}
.pixel:nth-child(84){ background: #4C4C4C}
.pixel:nth-child(91){ background: #4C4C4C}
.pixel:nth-child(92){ background: #4C4C4C}
.pixel:nth-child(93){ background: #4C4C4C}
.pixel:nth-child(94){ background: #4C4C4C}
.pixel:nth-child(95){ background: #4C4C4C}
.pixel:nth-child(98){ background: #4C4C4C}
.pixel:nth-child(99){ background: #4C4C4C}
.pixel:nth-child(100){ background: #4C4C4C}
.pixel:nth-child(107){ background: #4C4C4C}
.pixel:nth-child(108){ background: #4C4C4C}
.pixel:nth-child(111){ background: #4C4C4C}
.pixel:nth-child(115){ background: #4C4C4C}
.pixel:nth-child(116){ background: #4C4C4C}
.pixel:nth-child(123){ background: #4C4C4C}
.pixel:nth-child(132){ background: #4C4C4C}
.pixel:nth-child(133){ background: #4C4C4C}
.pixel:nth-child(138){ background: #4C4C4C}
.pixel:nth-child(139){ background: #4C4C4C}
.pixel:nth-child(148){ background: #4C4C4C}
.pixel:nth-child(149){ background: #4C4C4C}
.pixel:nth-child(150){ background: #4C4C4C}
.pixel:nth-child(151){ background: #4C4C4C}
.pixel:nth-child(152){ background: #4C4C4C}
.pixel:nth-child(153){ background: #4C4C4C}
.pixel:nth-child(154){ background: #4C4C4C}
.pixel:nth-child(155){ background: #4C4C4C}
.pixel:nth-child(156){ background: #4C4C4C}
.pixel:nth-child(159){ background: #4C4C4C}
.pixel:nth-child(163){ background: #4C4C4C}
.pixel:nth-child(164){ background: #4C4C4C}
.pixel:nth-child(173){ background: #4C4C4C}
.pixel:nth-child(174){ background: #4C4C4C}
.pixel:nth-child(175){ background: #4C4C4C}
 .pixel:nth-child(6){ background: #000000}
.pixel:nth-child(7){ background: #000000}
.pixel:nth-child(8){ background: #000000}
.pixel:nth-child(9){ background: #000000}
.pixel:nth-child(10){ background: #000000}
.pixel:nth-child(11){ background: #000000}
.pixel:nth-child(20){ background: #000000}
.pixel:nth-child(21){ background: #000000}
.pixel:nth-child(28){ background: #000000}
.pixel:nth-child(29){ background: #000000}
.pixel:nth-child(35){ background: #000000}
.pixel:nth-child(46){ background: #000000}
.pixel:nth-child(50){ background: #000000}
.pixel:nth-child(63){ background: #000000}
.pixel:nth-child(66){ background: #000000}
.pixel:nth-child(79){ background: #000000}
.pixel:nth-child(81){ background: #000000}
.pixel:nth-child(96){ background: #000000}
.pixel:nth-child(97){ background: #000000}
.pixel:nth-child(112){ background: #000000}
.pixel:nth-child(113){ background: #000000}
.pixel:nth-child(128){ background: #000000}
.pixel:nth-child(129){ background: #000000}
.pixel:nth-child(144){ background: #000000}
.pixel:nth-child(145){ background: #000000}
.pixel:nth-child(160){ background: #000000}
.pixel:nth-child(161){ background: #000000}
.pixel:nth-child(165){ background: #000000}
.pixel:nth-child(166){ background: #000000}
.pixel:nth-child(167){ background: #000000}
.pixel:nth-child(168){ background: #000000}
.pixel:nth-child(169){ background: #000000}
.pixel:nth-child(170){ background: #000000}
.pixel:nth-child(171){ background: #000000}
.pixel:nth-child(172){ background: #000000}
.pixel:nth-child(176){ background: #000000}
.pixel:nth-child(178){ background: #000000}
.pixel:nth-child(179){ background: #000000}
.pixel:nth-child(180){ background: #000000}
.pixel:nth-child(189){ background: #000000}
.pixel:nth-child(190){ background: #000000}
.pixel:nth-child(191){ background: #000000}
.pixel:nth-child(195){ background: #000000}
.pixel:nth-child(206){ background: #000000}
.pixel:nth-child(211){ background: #000000}
.pixel:nth-child(222){ background: #000000}
.pixel:nth-child(228){ background: #000000}
.pixel:nth-child(237){ background: #000000}
.pixel:nth-child(245){ background: #000000}
.pixel:nth-child(246){ background: #000000}
.pixel:nth-child(247){ background: #000000}
.pixel:nth-child(248){ background: #000000}
.pixel:nth-child(249){ background: #000000}
.pixel:nth-child(250){ background: #000000}
.pixel:nth-child(251){ background: #000000}
.pixel:nth-child(252){ background: #000000}
 .pixel:nth-child(183){ background: #000000}
.pixel:nth-child(186){ background: #000000}
.pixel:nth-child(199){ background: #000000}
.pixel:nth-child(202){ background: #000000}
