body{background: #333333; 
  height: 100vh;
 display: flex;  
 justify-content: center;
 align-items: center; 
  }
.canvas{
 width: 370px; 
 height: 400px; 
 } 
.pixel{
 width: 10px; 
 height: 10px; 
float: left; 
box-shadow: 0px 0px 1px #fff;}
 .pixel:nth-child(1445){ background: #FFFF00}
.pixel:nth-child(1444){ background: #FFFF00}
.pixel:nth-child(1410){ background: #FFFF00}
.pixel:nth-child(1409){ background: #FFFF00}
.pixel:nth-child(1408){ background: #FFFF00}
.pixel:nth-child(1407){ background: #FFFF00}
.pixel:nth-child(1375){ background: #FFFF00}
.pixel:nth-child(1374){ background: #FFFF00}
.pixel:nth-child(1373){ background: #FFFF00}
.pixel:nth-child(1372){ background: #FFFF00}
.pixel:nth-child(1371){ background: #FFFF00}
.pixel:nth-child(1370){ background: #FFFF00}
.pixel:nth-child(1339){ background: #FFFF00}
.pixel:nth-child(1338){ background: #FFFF00}
.pixel:nth-child(1337){ background: #FFFF00}
.pixel:nth-child(1336){ background: #FFFF00}
.pixel:nth-child(1335){ background: #FFFF00}
.pixel:nth-child(1334){ background: #FFFF00}
.pixel:nth-child(1333){ background: #FFFF00}
.pixel:nth-child(1329){ background: #FFFF00}
.pixel:nth-child(1328){ background: #FFFF00}
.pixel:nth-child(1327){ background: #FFFF00}
.pixel:nth-child(1326){ background: #FFFF00}
.pixel:nth-child(1325){ background: #FFFF00}
.pixel:nth-child(1324){ background: #FFFF00}
.pixel:nth-child(1303){ background: #FFFF00}
.pixel:nth-child(1302){ background: #FFFF00}
.pixel:nth-child(1301){ background: #FFFF00}
.pixel:nth-child(1300){ background: #FFFF00}
.pixel:nth-child(1299){ background: #FFFF00}
.pixel:nth-child(1298){ background: #FFFF00}
.pixel:nth-child(1297){ background: #FFFF00}
.pixel:nth-child(1292){ background: #FFFF00}
.pixel:nth-child(1291){ background: #FFFF00}
.pixel:nth-child(1290){ background: #FFFF00}
.pixel:nth-child(1289){ background: #FFFF00}
.pixel:nth-child(1288){ background: #FFFF00}
.pixel:nth-child(1287){ background: #FFFF00}
.pixel:nth-child(1286){ background: #FFFF00}
.pixel:nth-child(1285){ background: #FFFF00}
.pixel:nth-child(1284){ background: #FFFF00}
.pixel:nth-child(1283){ background: #FFFF00}
.pixel:nth-child(1267){ background: #FFFF00}
.pixel:nth-child(1266){ background: #FFFF00}
.pixel:nth-child(1265){ background: #FFFF00}
.pixel:nth-child(1264){ background: #FFFF00}
.pixel:nth-child(1263){ background: #FFFF00}
.pixel:nth-child(1262){ background: #FFFF00}
.pixel:nth-child(1261){ background: #FFFF00}
.pixel:nth-child(1260){ background: #FFFF00}
.pixel:nth-child(1253){ background: #FFFF00}
.pixel:nth-child(1252){ background: #FFFF00}
.pixel:nth-child(1251){ background: #FFFF00}
.pixel:nth-child(1250){ background: #FFFF00}
.pixel:nth-child(1249){ background: #FFFF00}
.pixel:nth-child(1248){ background: #FFFF00}
.pixel:nth-child(1247){ background: #FFFF00}
.pixel:nth-child(1246){ background: #FFFF00}
.pixel:nth-child(1245){ background: #FFFF00}
.pixel:nth-child(1244){ background: #FFFF00}
.pixel:nth-child(1243){ background: #FFFF00}
.pixel:nth-child(1242){ background: #FFFF00}
.pixel:nth-child(1240){ background: #FFFF00}
.pixel:nth-child(1239){ background: #FFFF00}
.pixel:nth-child(1238){ background: #FFFF00}
.pixel:nth-child(1237){ background: #FFFF00}
.pixel:nth-child(1236){ background: #FFFF00}
.pixel:nth-child(1235){ background: #FFFF00}
.pixel:nth-child(1234){ background: #FFFF00}
.pixel:nth-child(1232){ background: #FFFF00}
.pixel:nth-child(1231){ background: #FFFF00}
.pixel:nth-child(1230){ background: #FFFF00}
.pixel:nth-child(1229){ background: #FFFF00}
.pixel:nth-child(1228){ background: #FFFF00}
.pixel:nth-child(1227){ background: #FFFF00}
.pixel:nth-child(1226){ background: #FFFF00}
.pixel:nth-child(1225){ background: #FFFF00}
.pixel:nth-child(1224){ background: #FFFF00}
.pixel:nth-child(1215){ background: #FFFF00}
.pixel:nth-child(1214){ background: #FFFF00}
.pixel:nth-child(1213){ background: #FFFF00}
.pixel:nth-child(1212){ background: #FFFF00}
.pixel:nth-child(1211){ background: #FFFF00}
.pixel:nth-child(1210){ background: #FFFF00}
.pixel:nth-child(1209){ background: #FFFF00}
.pixel:nth-child(1208){ background: #FFFF00}
.pixel:nth-child(1207){ background: #FFFF00}
.pixel:nth-child(1206){ background: #FFFF00}
.pixel:nth-child(1205){ background: #FFFF00}
.pixel:nth-child(1204){ background: #FFFF00}
.pixel:nth-child(1203){ background: #FFFF00}
.pixel:nth-child(1202){ background: #FFFF00}
.pixel:nth-child(1201){ background: #FFFF00}
.pixel:nth-child(1200){ background: #FFFF00}
.pixel:nth-child(1199){ background: #FFFF00}
.pixel:nth-child(1198){ background: #FFFF00}
.pixel:nth-child(1197){ background: #FFFF00}
.pixel:nth-child(1196){ background: #FFFF00}
.pixel:nth-child(1195){ background: #FFFF00}
.pixel:nth-child(1194){ background: #FFFF00}
.pixel:nth-child(1193){ background: #FFFF00}
.pixel:nth-child(1192){ background: #FFFF00}
.pixel:nth-child(1191){ background: #FFFF00}
.pixel:nth-child(1190){ background: #FFFF00}
.pixel:nth-child(1189){ background: #FFFF00}
.pixel:nth-child(1188){ background: #FFFF00}
.pixel:nth-child(1177){ background: #FFFF00}
.pixel:nth-child(1176){ background: #FFFF00}
.pixel:nth-child(1175){ background: #FFFF00}
.pixel:nth-child(1174){ background: #FFFF00}
.pixel:nth-child(1173){ background: #FFFF00}
.pixel:nth-child(1172){ background: #FFFF00}
.pixel:nth-child(1171){ background: #FFFF00}
.pixel:nth-child(1170){ background: #FFFF00}
.pixel:nth-child(1169){ background: #FFFF00}
.pixel:nth-child(1168){ background: #FFFF00}
.pixel:nth-child(1167){ background: #FFFF00}
.pixel:nth-child(1166){ background: #FFFF00}
.pixel:nth-child(1165){ background: #FFFF00}
.pixel:nth-child(1164){ background: #FFFF00}
.pixel:nth-child(1163){ background: #FFFF00}
.pixel:nth-child(1162){ background: #FFFF00}
.pixel:nth-child(1161){ background: #FFFF00}
.pixel:nth-child(1160){ background: #FFFF00}
.pixel:nth-child(1159){ background: #FFFF00}
.pixel:nth-child(1158){ background: #FFFF00}
.pixel:nth-child(1157){ background: #FFFF00}
.pixel:nth-child(1156){ background: #FFFF00}
.pixel:nth-child(1155){ background: #FFFF00}
.pixel:nth-child(1154){ background: #FFFF00}
.pixel:nth-child(1153){ background: #FFFF00}
.pixel:nth-child(1152){ background: #FFFF00}
.pixel:nth-child(1139){ background: #FFFF00}
.pixel:nth-child(1138){ background: #FFFF00}
.pixel:nth-child(1137){ background: #FFFF00}
.pixel:nth-child(1136){ background: #FFFF00}
.pixel:nth-child(1135){ background: #FFFF00}
.pixel:nth-child(1134){ background: #FFFF00}
.pixel:nth-child(1133){ background: #FFFF00}
.pixel:nth-child(1132){ background: #FFFF00}
.pixel:nth-child(1131){ background: #FFFF00}
.pixel:nth-child(1130){ background: #FFFF00}
.pixel:nth-child(1129){ background: #FFFF00}
.pixel:nth-child(1128){ background: #FFFF00}
.pixel:nth-child(1127){ background: #FFFF00}
.pixel:nth-child(1126){ background: #FFFF00}
.pixel:nth-child(1125){ background: #FFFF00}
.pixel:nth-child(1124){ background: #FFFF00}
.pixel:nth-child(1123){ background: #FFFF00}
.pixel:nth-child(1122){ background: #FFFF00}
.pixel:nth-child(1121){ background: #FFFF00}
.pixel:nth-child(1120){ background: #FFFF00}
.pixel:nth-child(1119){ background: #FFFF00}
.pixel:nth-child(1118){ background: #FFFF00}
.pixel:nth-child(1117){ background: #FFFF00}
.pixel:nth-child(1116){ background: #FFFF00}
.pixel:nth-child(1100){ background: #FFFF00}
.pixel:nth-child(1099){ background: #FFFF00}
.pixel:nth-child(1098){ background: #FFFF00}
.pixel:nth-child(1097){ background: #FFFF00}
.pixel:nth-child(1096){ background: #FFFF00}
.pixel:nth-child(1095){ background: #FFFF00}
.pixel:nth-child(1094){ background: #FFFF00}
.pixel:nth-child(1093){ background: #FFFF00}
.pixel:nth-child(1092){ background: #FFFF00}
.pixel:nth-child(1091){ background: #FFFF00}
.pixel:nth-child(1090){ background: #FFFF00}
.pixel:nth-child(1089){ background: #FFFF00}
.pixel:nth-child(1088){ background: #FFFF00}
.pixel:nth-child(1087){ background: #FFFF00}
.pixel:nth-child(1086){ background: #FFFF00}
.pixel:nth-child(1085){ background: #FFFF00}
.pixel:nth-child(1084){ background: #FFFF00}
.pixel:nth-child(1083){ background: #FFFF00}
.pixel:nth-child(1082){ background: #FFFF00}
.pixel:nth-child(1081){ background: #FFFF00}
.pixel:nth-child(1080){ background: #FFFF00}
.pixel:nth-child(1073){ background: #FFFF00}
.pixel:nth-child(1061){ background: #FFFF00}
.pixel:nth-child(1060){ background: #FFFF00}
.pixel:nth-child(1059){ background: #FFFF00}
.pixel:nth-child(1058){ background: #FFFF00}
.pixel:nth-child(1057){ background: #FFFF00}
.pixel:nth-child(1056){ background: #FFFF00}
.pixel:nth-child(1055){ background: #FFFF00}
.pixel:nth-child(1054){ background: #FFFF00}
.pixel:nth-child(1053){ background: #FFFF00}
.pixel:nth-child(1052){ background: #FFFF00}
.pixel:nth-child(1051){ background: #FFFF00}
.pixel:nth-child(1050){ background: #FFFF00}
.pixel:nth-child(1049){ background: #FFFF00}
.pixel:nth-child(1048){ background: #FFFF00}
.pixel:nth-child(1047){ background: #FFFF00}
.pixel:nth-child(1046){ background: #FFFF00}
.pixel:nth-child(1045){ background: #FFFF00}
.pixel:nth-child(1044){ background: #FFFF00}
.pixel:nth-child(1043){ background: #FFFF00}
.pixel:nth-child(1036){ background: #FFFF00}
.pixel:nth-child(1035){ background: #FFFF00}
.pixel:nth-child(1024){ background: #FFFF00}
.pixel:nth-child(1023){ background: #FFFF00}
.pixel:nth-child(1022){ background: #FFFF00}
.pixel:nth-child(1021){ background: #FFFF00}
.pixel:nth-child(1020){ background: #FFFF00}
.pixel:nth-child(1019){ background: #FFFF00}
.pixel:nth-child(1018){ background: #FFFF00}
.pixel:nth-child(1017){ background: #FFFF00}
.pixel:nth-child(1016){ background: #FFFF00}
.pixel:nth-child(1015){ background: #FFFF00}
.pixel:nth-child(1014){ background: #FFFF00}
.pixel:nth-child(1013){ background: #FFFF00}
.pixel:nth-child(1012){ background: #FFFF00}
.pixel:nth-child(1011){ background: #FFFF00}
.pixel:nth-child(1010){ background: #FFFF00}
.pixel:nth-child(1009){ background: #FFFF00}
.pixel:nth-child(1008){ background: #FFFF00}
.pixel:nth-child(1007){ background: #FFFF00}
.pixel:nth-child(1006){ background: #FFFF00}
.pixel:nth-child(999){ background: #FFFF00}
.pixel:nth-child(998){ background: #FFFF00}
.pixel:nth-child(997){ background: #FFFF00}
.pixel:nth-child(988){ background: #FFFF00}
.pixel:nth-child(987){ background: #FFFF00}
.pixel:nth-child(986){ background: #FFFF00}
.pixel:nth-child(985){ background: #FFFF00}
.pixel:nth-child(984){ background: #FFFF00}
.pixel:nth-child(983){ background: #FFFF00}
.pixel:nth-child(982){ background: #FFFF00}
.pixel:nth-child(981){ background: #FFFF00}
.pixel:nth-child(980){ background: #FFFF00}
.pixel:nth-child(979){ background: #FFFF00}
.pixel:nth-child(978){ background: #FFFF00}
.pixel:nth-child(977){ background: #FFFF00}
.pixel:nth-child(976){ background: #FFFF00}
.pixel:nth-child(975){ background: #FFFF00}
.pixel:nth-child(974){ background: #FFFF00}
.pixel:nth-child(973){ background: #FFFF00}
.pixel:nth-child(972){ background: #FFFF00}
.pixel:nth-child(971){ background: #FFFF00}
.pixel:nth-child(970){ background: #FFFF00}
.pixel:nth-child(969){ background: #FFFF00}
.pixel:nth-child(968){ background: #FFFF00}
.pixel:nth-child(962){ background: #FFFF00}
.pixel:nth-child(961){ background: #FFFF00}
.pixel:nth-child(960){ background: #FFFF00}
.pixel:nth-child(959){ background: #FFFF00}
.pixel:nth-child(951){ background: #FFFF00}
.pixel:nth-child(950){ background: #FFFF00}
.pixel:nth-child(949){ background: #FFFF00}
.pixel:nth-child(948){ background: #FFFF00}
.pixel:nth-child(947){ background: #FFFF00}
.pixel:nth-child(946){ background: #FFFF00}
.pixel:nth-child(945){ background: #FFFF00}
.pixel:nth-child(944){ background: #FFFF00}
.pixel:nth-child(943){ background: #FFFF00}
.pixel:nth-child(942){ background: #FFFF00}
.pixel:nth-child(941){ background: #FFFF00}
.pixel:nth-child(940){ background: #FFFF00}
.pixel:nth-child(939){ background: #FFFF00}
.pixel:nth-child(938){ background: #FFFF00}
.pixel:nth-child(937){ background: #FFFF00}
.pixel:nth-child(936){ background: #FFFF00}
.pixel:nth-child(935){ background: #FFFF00}
.pixel:nth-child(934){ background: #FFFF00}
.pixel:nth-child(933){ background: #FFFF00}
.pixel:nth-child(932){ background: #FFFF00}
.pixel:nth-child(931){ background: #FFFF00}
.pixel:nth-child(925){ background: #FFFF00}
.pixel:nth-child(924){ background: #FFFF00}
.pixel:nth-child(923){ background: #FFFF00}
.pixel:nth-child(922){ background: #FFFF00}
.pixel:nth-child(921){ background: #FFFF00}
.pixel:nth-child(914){ background: #FFFF00}
.pixel:nth-child(913){ background: #FFFF00}
.pixel:nth-child(912){ background: #FFFF00}
.pixel:nth-child(911){ background: #FFFF00}
.pixel:nth-child(910){ background: #FFFF00}
.pixel:nth-child(909){ background: #FFFF00}
.pixel:nth-child(908){ background: #FFFF00}
.pixel:nth-child(907){ background: #FFFF00}
.pixel:nth-child(906){ background: #FFFF00}
.pixel:nth-child(905){ background: #FFFF00}
.pixel:nth-child(904){ background: #FFFF00}
.pixel:nth-child(903){ background: #FFFF00}
.pixel:nth-child(902){ background: #FFFF00}
.pixel:nth-child(901){ background: #FFFF00}
.pixel:nth-child(900){ background: #FFFF00}
.pixel:nth-child(899){ background: #FFFF00}
.pixel:nth-child(898){ background: #FFFF00}
.pixel:nth-child(897){ background: #FFFF00}
.pixel:nth-child(896){ background: #FFFF00}
.pixel:nth-child(895){ background: #FFFF00}
.pixel:nth-child(894){ background: #FFFF00}
.pixel:nth-child(888){ background: #FFFF00}
.pixel:nth-child(887){ background: #FFFF00}
.pixel:nth-child(886){ background: #FFFF00}
.pixel:nth-child(885){ background: #FFFF00}
.pixel:nth-child(884){ background: #FFFF00}
.pixel:nth-child(883){ background: #FFFF00}
.pixel:nth-child(878){ background: #FFFF00}
.pixel:nth-child(877){ background: #FFFF00}
.pixel:nth-child(876){ background: #FFFF00}
.pixel:nth-child(875){ background: #FFFF00}
.pixel:nth-child(874){ background: #FFFF00}
.pixel:nth-child(873){ background: #FFFF00}
.pixel:nth-child(872){ background: #FFFF00}
.pixel:nth-child(871){ background: #FFFF00}
.pixel:nth-child(870){ background: #FFFF00}
.pixel:nth-child(869){ background: #FFFF00}
.pixel:nth-child(868){ background: #FFFF00}
.pixel:nth-child(867){ background: #FFFF00}
.pixel:nth-child(866){ background: #FFFF00}
.pixel:nth-child(865){ background: #FFFF00}
.pixel:nth-child(864){ background: #FFFF00}
.pixel:nth-child(863){ background: #FFFF00}
.pixel:nth-child(862){ background: #FFFF00}
.pixel:nth-child(861){ background: #FFFF00}
.pixel:nth-child(860){ background: #FFFF00}
.pixel:nth-child(859){ background: #FFFF00}
.pixel:nth-child(858){ background: #FFFF00}
.pixel:nth-child(857){ background: #FFFF00}
.pixel:nth-child(856){ background: #FFFF00}
.pixel:nth-child(851){ background: #FFFF00}
.pixel:nth-child(850){ background: #FFFF00}
.pixel:nth-child(849){ background: #FFFF00}
.pixel:nth-child(848){ background: #FFFF00}
.pixel:nth-child(847){ background: #FFFF00}
.pixel:nth-child(846){ background: #FFFF00}
.pixel:nth-child(845){ background: #FFFF00}
.pixel:nth-child(841){ background: #FFFF00}
.pixel:nth-child(840){ background: #FFFF00}
.pixel:nth-child(839){ background: #FFFF00}
.pixel:nth-child(838){ background: #FFFF00}
.pixel:nth-child(837){ background: #FFFF00}
.pixel:nth-child(836){ background: #FFFF00}
.pixel:nth-child(835){ background: #FFFF00}
.pixel:nth-child(834){ background: #FFFF00}
.pixel:nth-child(833){ background: #FFFF00}
.pixel:nth-child(832){ background: #FFFF00}
.pixel:nth-child(831){ background: #FFFF00}
.pixel:nth-child(830){ background: #FFFF00}
.pixel:nth-child(829){ background: #FFFF00}
.pixel:nth-child(828){ background: #FFFF00}
.pixel:nth-child(827){ background: #FFFF00}
.pixel:nth-child(826){ background: #FFFF00}
.pixel:nth-child(825){ background: #FFFF00}
.pixel:nth-child(824){ background: #FFFF00}
.pixel:nth-child(823){ background: #FFFF00}
.pixel:nth-child(822){ background: #FFFF00}
.pixel:nth-child(821){ background: #FFFF00}
.pixel:nth-child(820){ background: #FFFF00}
.pixel:nth-child(819){ background: #FFFF00}
.pixel:nth-child(814){ background: #FFFF00}
.pixel:nth-child(813){ background: #FFFF00}
.pixel:nth-child(812){ background: #FFFF00}
.pixel:nth-child(811){ background: #FFFF00}
.pixel:nth-child(810){ background: #FFFF00}
.pixel:nth-child(809){ background: #FFFF00}
.pixel:nth-child(808){ background: #FFFF00}
.pixel:nth-child(807){ background: #FFFF00}
.pixel:nth-child(804){ background: #FFFF00}
.pixel:nth-child(803){ background: #FFFF00}
.pixel:nth-child(802){ background: #FFFF00}
.pixel:nth-child(801){ background: #FFFF00}
.pixel:nth-child(800){ background: #FFFF00}
.pixel:nth-child(799){ background: #FFFF00}
.pixel:nth-child(798){ background: #FFFF00}
.pixel:nth-child(797){ background: #FFFF00}
.pixel:nth-child(796){ background: #FFFF00}
.pixel:nth-child(795){ background: #FFFF00}
.pixel:nth-child(794){ background: #FFFF00}
.pixel:nth-child(793){ background: #FFFF00}
.pixel:nth-child(792){ background: #FFFF00}
.pixel:nth-child(791){ background: #FFFF00}
.pixel:nth-child(790){ background: #FFFF00}
.pixel:nth-child(789){ background: #FFFF00}
.pixel:nth-child(788){ background: #FFFF00}
.pixel:nth-child(787){ background: #FFFF00}
.pixel:nth-child(786){ background: #FFFF00}
.pixel:nth-child(785){ background: #FFFF00}
.pixel:nth-child(784){ background: #FFFF00}
.pixel:nth-child(783){ background: #FFFF00}
.pixel:nth-child(782){ background: #FFFF00}
.pixel:nth-child(777){ background: #FFFF00}
.pixel:nth-child(776){ background: #FFFF00}
.pixel:nth-child(775){ background: #FFFF00}
.pixel:nth-child(774){ background: #FFFF00}
.pixel:nth-child(773){ background: #FFFF00}
.pixel:nth-child(772){ background: #FFFF00}
.pixel:nth-child(771){ background: #FFFF00}
.pixel:nth-child(770){ background: #FFFF00}
.pixel:nth-child(769){ background: #FFFF00}
.pixel:nth-child(767){ background: #FFFF00}
.pixel:nth-child(766){ background: #FFFF00}
.pixel:nth-child(765){ background: #FFFF00}
.pixel:nth-child(764){ background: #FFFF00}
.pixel:nth-child(763){ background: #FFFF00}
.pixel:nth-child(762){ background: #FFFF00}
.pixel:nth-child(761){ background: #FFFF00}
.pixel:nth-child(760){ background: #FFFF00}
.pixel:nth-child(759){ background: #FFFF00}
.pixel:nth-child(758){ background: #FFFF00}
.pixel:nth-child(757){ background: #FFFF00}
.pixel:nth-child(756){ background: #FFFF00}
.pixel:nth-child(755){ background: #FFFF00}
.pixel:nth-child(754){ background: #FFFF00}
.pixel:nth-child(753){ background: #FFFF00}
.pixel:nth-child(752){ background: #FFFF00}
.pixel:nth-child(751){ background: #FFFF00}
.pixel:nth-child(750){ background: #FFFF00}
.pixel:nth-child(749){ background: #FFFF00}
.pixel:nth-child(748){ background: #FFFF00}
.pixel:nth-child(747){ background: #FFFF00}
.pixel:nth-child(746){ background: #FFFF00}
.pixel:nth-child(745){ background: #FFFF00}
.pixel:nth-child(740){ background: #FFFF00}
.pixel:nth-child(739){ background: #FFFF00}
.pixel:nth-child(738){ background: #FFFF00}
.pixel:nth-child(737){ background: #FFFF00}
.pixel:nth-child(736){ background: #FFFF00}
.pixel:nth-child(735){ background: #FFFF00}
.pixel:nth-child(734){ background: #FFFF00}
.pixel:nth-child(733){ background: #FFFF00}
.pixel:nth-child(732){ background: #FFFF00}
.pixel:nth-child(731){ background: #FFFF00}
.pixel:nth-child(730){ background: #FFFF00}
.pixel:nth-child(729){ background: #FFFF00}
.pixel:nth-child(728){ background: #FFFF00}
.pixel:nth-child(727){ background: #FFFF00}
.pixel:nth-child(726){ background: #FFFF00}
.pixel:nth-child(725){ background: #FFFF00}
.pixel:nth-child(724){ background: #FFFF00}
.pixel:nth-child(723){ background: #FFFF00}
.pixel:nth-child(722){ background: #FFFF00}
.pixel:nth-child(721){ background: #FFFF00}
.pixel:nth-child(720){ background: #FFFF00}
.pixel:nth-child(719){ background: #FFFF00}
.pixel:nth-child(718){ background: #FFFF00}
.pixel:nth-child(717){ background: #FFFF00}
.pixel:nth-child(716){ background: #FFFF00}
.pixel:nth-child(715){ background: #FFFF00}
.pixel:nth-child(714){ background: #FFFF00}
.pixel:nth-child(713){ background: #FFFF00}
.pixel:nth-child(712){ background: #FFFF00}
.pixel:nth-child(711){ background: #FFFF00}
.pixel:nth-child(710){ background: #FFFF00}
.pixel:nth-child(709){ background: #FFFF00}
.pixel:nth-child(703){ background: #FFFF00}
.pixel:nth-child(702){ background: #FFFF00}
.pixel:nth-child(701){ background: #FFFF00}
.pixel:nth-child(700){ background: #FFFF00}
.pixel:nth-child(699){ background: #FFFF00}
.pixel:nth-child(698){ background: #FFFF00}
.pixel:nth-child(697){ background: #FFFF00}
.pixel:nth-child(696){ background: #FFFF00}
.pixel:nth-child(695){ background: #FFFF00}
.pixel:nth-child(694){ background: #FFFF00}
.pixel:nth-child(693){ background: #FFFF00}
.pixel:nth-child(692){ background: #FFFF00}
.pixel:nth-child(691){ background: #FFFF00}
.pixel:nth-child(690){ background: #FFFF00}
.pixel:nth-child(689){ background: #FFFF00}
.pixel:nth-child(688){ background: #FFFF00}
.pixel:nth-child(687){ background: #FFFF00}
.pixel:nth-child(686){ background: #FFFF00}
.pixel:nth-child(685){ background: #FFFF00}
.pixel:nth-child(684){ background: #FFFF00}
.pixel:nth-child(683){ background: #FFFF00}
.pixel:nth-child(682){ background: #FFFF00}
.pixel:nth-child(681){ background: #FFFF00}
.pixel:nth-child(680){ background: #FFFF00}
.pixel:nth-child(679){ background: #FFFF00}
.pixel:nth-child(678){ background: #FFFF00}
.pixel:nth-child(677){ background: #FFFF00}
.pixel:nth-child(676){ background: #FFFF00}
.pixel:nth-child(675){ background: #FFFF00}
.pixel:nth-child(674){ background: #FFFF00}
.pixel:nth-child(673){ background: #FFFF00}
.pixel:nth-child(672){ background: #FFFF00}
.pixel:nth-child(665){ background: #FFFF00}
.pixel:nth-child(664){ background: #FFFF00}
.pixel:nth-child(663){ background: #FFFF00}
.pixel:nth-child(662){ background: #FFFF00}
.pixel:nth-child(661){ background: #FFFF00}
.pixel:nth-child(660){ background: #FFFF00}
.pixel:nth-child(659){ background: #FFFF00}
.pixel:nth-child(658){ background: #FFFF00}
.pixel:nth-child(657){ background: #FFFF00}
.pixel:nth-child(656){ background: #FFFF00}
.pixel:nth-child(654){ background: #FFFF00}
.pixel:nth-child(653){ background: #FFFF00}
.pixel:nth-child(652){ background: #FFFF00}
.pixel:nth-child(651){ background: #FFFF00}
.pixel:nth-child(650){ background: #FFFF00}
.pixel:nth-child(649){ background: #FFFF00}
.pixel:nth-child(648){ background: #FFFF00}
.pixel:nth-child(647){ background: #FFFF00}
.pixel:nth-child(646){ background: #FFFF00}
.pixel:nth-child(645){ background: #FFFF00}
.pixel:nth-child(644){ background: #FFFF00}
.pixel:nth-child(643){ background: #FFFF00}
.pixel:nth-child(642){ background: #FFFF00}
.pixel:nth-child(641){ background: #FFFF00}
.pixel:nth-child(640){ background: #FFFF00}
.pixel:nth-child(639){ background: #FFFF00}
.pixel:nth-child(638){ background: #FFFF00}
.pixel:nth-child(637){ background: #FFFF00}
.pixel:nth-child(636){ background: #FFFF00}
.pixel:nth-child(627){ background: #FFFF00}
.pixel:nth-child(626){ background: #FFFF00}
.pixel:nth-child(625){ background: #FFFF00}
.pixel:nth-child(624){ background: #FFFF00}
.pixel:nth-child(623){ background: #FFFF00}
.pixel:nth-child(622){ background: #FFFF00}
.pixel:nth-child(621){ background: #FFFF00}
.pixel:nth-child(620){ background: #FFFF00}
.pixel:nth-child(618){ background: #FFFF00}
.pixel:nth-child(617){ background: #FFFF00}
.pixel:nth-child(616){ background: #FFFF00}
.pixel:nth-child(615){ background: #FFFF00}
.pixel:nth-child(614){ background: #FFFF00}
.pixel:nth-child(613){ background: #FFFF00}
.pixel:nth-child(612){ background: #FFFF00}
.pixel:nth-child(611){ background: #FFFF00}
.pixel:nth-child(610){ background: #FFFF00}
.pixel:nth-child(609){ background: #FFFF00}
.pixel:nth-child(608){ background: #FFFF00}
.pixel:nth-child(607){ background: #FFFF00}
.pixel:nth-child(606){ background: #FFFF00}
.pixel:nth-child(605){ background: #FFFF00}
.pixel:nth-child(604){ background: #FFFF00}
.pixel:nth-child(603){ background: #FFFF00}
.pixel:nth-child(602){ background: #FFFF00}
.pixel:nth-child(601){ background: #FFFF00}
.pixel:nth-child(600){ background: #FFFF00}
.pixel:nth-child(599){ background: #FFFF00}
.pixel:nth-child(598){ background: #FFFF00}
.pixel:nth-child(589){ background: #FFFF00}
.pixel:nth-child(588){ background: #FFFF00}
.pixel:nth-child(587){ background: #FFFF00}
.pixel:nth-child(586){ background: #FFFF00}
.pixel:nth-child(585){ background: #FFFF00}
.pixel:nth-child(584){ background: #FFFF00}
.pixel:nth-child(581){ background: #FFFF00}
.pixel:nth-child(580){ background: #FFFF00}
.pixel:nth-child(579){ background: #FFFF00}
.pixel:nth-child(578){ background: #FFFF00}
.pixel:nth-child(577){ background: #FFFF00}
.pixel:nth-child(576){ background: #FFFF00}
.pixel:nth-child(575){ background: #FFFF00}
.pixel:nth-child(574){ background: #FFFF00}
.pixel:nth-child(573){ background: #FFFF00}
.pixel:nth-child(572){ background: #FFFF00}
.pixel:nth-child(571){ background: #FFFF00}
.pixel:nth-child(570){ background: #FFFF00}
.pixel:nth-child(569){ background: #FFFF00}
.pixel:nth-child(568){ background: #FFFF00}
.pixel:nth-child(567){ background: #FFFF00}
.pixel:nth-child(566){ background: #FFFF00}
.pixel:nth-child(565){ background: #FFFF00}
.pixel:nth-child(564){ background: #FFFF00}
.pixel:nth-child(563){ background: #FFFF00}
.pixel:nth-child(562){ background: #FFFF00}
.pixel:nth-child(561){ background: #FFFF00}
.pixel:nth-child(553){ background: #FFFF00}
.pixel:nth-child(552){ background: #FFFF00}
.pixel:nth-child(551){ background: #FFFF00}
.pixel:nth-child(550){ background: #FFFF00}
.pixel:nth-child(549){ background: #FFFF00}
.pixel:nth-child(548){ background: #FFFF00}
.pixel:nth-child(544){ background: #FFFF00}
.pixel:nth-child(543){ background: #FFFF00}
.pixel:nth-child(542){ background: #FFFF00}
.pixel:nth-child(541){ background: #FFFF00}
.pixel:nth-child(540){ background: #FFFF00}
.pixel:nth-child(539){ background: #FFFF00}
.pixel:nth-child(538){ background: #FFFF00}
.pixel:nth-child(537){ background: #FFFF00}
.pixel:nth-child(536){ background: #FFFF00}
.pixel:nth-child(535){ background: #FFFF00}
.pixel:nth-child(534){ background: #FFFF00}
.pixel:nth-child(533){ background: #FFFF00}
.pixel:nth-child(532){ background: #FFFF00}
.pixel:nth-child(531){ background: #FFFF00}
.pixel:nth-child(530){ background: #FFFF00}
.pixel:nth-child(529){ background: #FFFF00}
.pixel:nth-child(528){ background: #FFFF00}
.pixel:nth-child(527){ background: #FFFF00}
.pixel:nth-child(526){ background: #FFFF00}
.pixel:nth-child(525){ background: #FFFF00}
.pixel:nth-child(524){ background: #FFFF00}
.pixel:nth-child(516){ background: #FFFF00}
.pixel:nth-child(515){ background: #FFFF00}
.pixel:nth-child(514){ background: #FFFF00}
.pixel:nth-child(513){ background: #FFFF00}
.pixel:nth-child(512){ background: #FFFF00}
.pixel:nth-child(511){ background: #FFFF00}
.pixel:nth-child(510){ background: #FFFF00}
.pixel:nth-child(508){ background: #FFFF00}
.pixel:nth-child(507){ background: #FFFF00}
.pixel:nth-child(506){ background: #FFFF00}
.pixel:nth-child(505){ background: #FFFF00}
.pixel:nth-child(504){ background: #FFFF00}
.pixel:nth-child(503){ background: #FFFF00}
.pixel:nth-child(502){ background: #FFFF00}
.pixel:nth-child(501){ background: #FFFF00}
.pixel:nth-child(500){ background: #FFFF00}
.pixel:nth-child(499){ background: #FFFF00}
.pixel:nth-child(498){ background: #FFFF00}
.pixel:nth-child(497){ background: #FFFF00}
.pixel:nth-child(496){ background: #FFFF00}
.pixel:nth-child(495){ background: #FFFF00}
.pixel:nth-child(494){ background: #FFFF00}
.pixel:nth-child(493){ background: #FFFF00}
.pixel:nth-child(492){ background: #FFFF00}
.pixel:nth-child(491){ background: #FFFF00}
.pixel:nth-child(490){ background: #FFFF00}
.pixel:nth-child(489){ background: #FFFF00}
.pixel:nth-child(488){ background: #FFFF00}
.pixel:nth-child(487){ background: #FFFF00}
.pixel:nth-child(478){ background: #FFFF00}
.pixel:nth-child(477){ background: #FFFF00}
.pixel:nth-child(476){ background: #FFFF00}
.pixel:nth-child(475){ background: #FFFF00}
.pixel:nth-child(474){ background: #FFFF00}
.pixel:nth-child(473){ background: #FFFF00}
.pixel:nth-child(472){ background: #FFFF00}
.pixel:nth-child(471){ background: #FFFF00}
.pixel:nth-child(470){ background: #FFFF00}
.pixel:nth-child(469){ background: #FFFF00}
.pixel:nth-child(468){ background: #FFFF00}
.pixel:nth-child(467){ background: #FFFF00}
.pixel:nth-child(466){ background: #FFFF00}
.pixel:nth-child(465){ background: #FFFF00}
.pixel:nth-child(464){ background: #FFFF00}
.pixel:nth-child(463){ background: #FFFF00}
.pixel:nth-child(462){ background: #FFFF00}
.pixel:nth-child(461){ background: #FFFF00}
.pixel:nth-child(460){ background: #FFFF00}
.pixel:nth-child(459){ background: #FFFF00}
.pixel:nth-child(458){ background: #FFFF00}
.pixel:nth-child(457){ background: #FFFF00}
.pixel:nth-child(456){ background: #FFFF00}
.pixel:nth-child(455){ background: #FFFF00}
.pixel:nth-child(454){ background: #FFFF00}
.pixel:nth-child(453){ background: #FFFF00}
.pixel:nth-child(452){ background: #FFFF00}
.pixel:nth-child(451){ background: #FFFF00}
.pixel:nth-child(450){ background: #FFFF00}
.pixel:nth-child(449){ background: #FFFF00}
.pixel:nth-child(440){ background: #FFFF00}
.pixel:nth-child(439){ background: #FFFF00}
.pixel:nth-child(438){ background: #FFFF00}
.pixel:nth-child(437){ background: #FFFF00}
.pixel:nth-child(436){ background: #FFFF00}
.pixel:nth-child(435){ background: #FFFF00}
.pixel:nth-child(434){ background: #FFFF00}
.pixel:nth-child(433){ background: #FFFF00}
.pixel:nth-child(432){ background: #FFFF00}
.pixel:nth-child(431){ background: #FFFF00}
.pixel:nth-child(430){ background: #FFFF00}
.pixel:nth-child(429){ background: #FFFF00}
.pixel:nth-child(428){ background: #FFFF00}
.pixel:nth-child(427){ background: #FFFF00}
.pixel:nth-child(426){ background: #FFFF00}
.pixel:nth-child(425){ background: #FFFF00}
.pixel:nth-child(424){ background: #FFFF00}
.pixel:nth-child(423){ background: #FFFF00}
.pixel:nth-child(422){ background: #FFFF00}
.pixel:nth-child(421){ background: #FFFF00}
.pixel:nth-child(420){ background: #FFFF00}
.pixel:nth-child(419){ background: #FFFF00}
.pixel:nth-child(418){ background: #FFFF00}
.pixel:nth-child(417){ background: #FFFF00}
.pixel:nth-child(416){ background: #FFFF00}
.pixel:nth-child(415){ background: #FFFF00}
.pixel:nth-child(414){ background: #FFFF00}
.pixel:nth-child(413){ background: #FFFF00}
.pixel:nth-child(412){ background: #FFFF00}
.pixel:nth-child(402){ background: #FFFF00}
.pixel:nth-child(401){ background: #FFFF00}
.pixel:nth-child(400){ background: #FFFF00}
.pixel:nth-child(399){ background: #FFFF00}
.pixel:nth-child(398){ background: #FFFF00}
.pixel:nth-child(397){ background: #FFFF00}
.pixel:nth-child(396){ background: #FFFF00}
.pixel:nth-child(395){ background: #FFFF00}
.pixel:nth-child(394){ background: #FFFF00}
.pixel:nth-child(393){ background: #FFFF00}
.pixel:nth-child(392){ background: #FFFF00}
.pixel:nth-child(391){ background: #FFFF00}
.pixel:nth-child(390){ background: #FFFF00}
.pixel:nth-child(389){ background: #FFFF00}
.pixel:nth-child(388){ background: #FFFF00}
.pixel:nth-child(387){ background: #FFFF00}
.pixel:nth-child(386){ background: #FFFF00}
.pixel:nth-child(385){ background: #FFFF00}
.pixel:nth-child(384){ background: #FFFF00}
.pixel:nth-child(383){ background: #FFFF00}
.pixel:nth-child(382){ background: #FFFF00}
.pixel:nth-child(381){ background: #FFFF00}
.pixel:nth-child(380){ background: #FFFF00}
.pixel:nth-child(379){ background: #FFFF00}
.pixel:nth-child(378){ background: #FFFF00}
.pixel:nth-child(377){ background: #FFFF00}
.pixel:nth-child(376){ background: #FFFF00}
.pixel:nth-child(375){ background: #FFFF00}
.pixel:nth-child(364){ background: #FFFF00}
.pixel:nth-child(363){ background: #FFFF00}
.pixel:nth-child(362){ background: #FFFF00}
.pixel:nth-child(361){ background: #FFFF00}
.pixel:nth-child(360){ background: #FFFF00}
.pixel:nth-child(359){ background: #FFFF00}
.pixel:nth-child(358){ background: #FFFF00}
.pixel:nth-child(357){ background: #FFFF00}
.pixel:nth-child(356){ background: #FFFF00}
.pixel:nth-child(355){ background: #FFFF00}
.pixel:nth-child(354){ background: #FFFF00}
.pixel:nth-child(353){ background: #FFFF00}
.pixel:nth-child(352){ background: #FFFF00}
.pixel:nth-child(351){ background: #FFFF00}
.pixel:nth-child(350){ background: #FFFF00}
.pixel:nth-child(349){ background: #FFFF00}
.pixel:nth-child(348){ background: #FFFF00}
.pixel:nth-child(347){ background: #FFFF00}
.pixel:nth-child(346){ background: #FFFF00}
.pixel:nth-child(345){ background: #FFFF00}
.pixel:nth-child(344){ background: #FFFF00}
.pixel:nth-child(343){ background: #FFFF00}
.pixel:nth-child(342){ background: #FFFF00}
.pixel:nth-child(341){ background: #FFFF00}
.pixel:nth-child(340){ background: #FFFF00}
.pixel:nth-child(339){ background: #FFFF00}
.pixel:nth-child(338){ background: #FFFF00}
.pixel:nth-child(328){ background: #FFFF00}
.pixel:nth-child(327){ background: #FFFF00}
.pixel:nth-child(326){ background: #FFFF00}
.pixel:nth-child(325){ background: #FFFF00}
.pixel:nth-child(324){ background: #FFFF00}
.pixel:nth-child(323){ background: #FFFF00}
.pixel:nth-child(322){ background: #FFFF00}
.pixel:nth-child(321){ background: #FFFF00}
.pixel:nth-child(320){ background: #FFFF00}
.pixel:nth-child(319){ background: #FFFF00}
.pixel:nth-child(318){ background: #FFFF00}
.pixel:nth-child(317){ background: #FFFF00}
.pixel:nth-child(316){ background: #FFFF00}
.pixel:nth-child(315){ background: #FFFF00}
.pixel:nth-child(314){ background: #FFFF00}
.pixel:nth-child(313){ background: #FFFF00}
.pixel:nth-child(312){ background: #FFFF00}
.pixel:nth-child(311){ background: #FFFF00}
.pixel:nth-child(310){ background: #FFFF00}
.pixel:nth-child(309){ background: #FFFF00}
.pixel:nth-child(308){ background: #FFFF00}
.pixel:nth-child(307){ background: #FFFF00}
.pixel:nth-child(306){ background: #FFFF00}
.pixel:nth-child(305){ background: #FFFF00}
.pixel:nth-child(304){ background: #FFFF00}
.pixel:nth-child(303){ background: #FFFF00}
.pixel:nth-child(302){ background: #FFFF00}
.pixel:nth-child(301){ background: #FFFF00}
.pixel:nth-child(290){ background: #FFFF00}
.pixel:nth-child(289){ background: #FFFF00}
.pixel:nth-child(288){ background: #FFFF00}
.pixel:nth-child(287){ background: #FFFF00}
.pixel:nth-child(286){ background: #FFFF00}
.pixel:nth-child(285){ background: #FFFF00}
.pixel:nth-child(284){ background: #FFFF00}
.pixel:nth-child(283){ background: #FFFF00}
.pixel:nth-child(282){ background: #FFFF00}
.pixel:nth-child(281){ background: #FFFF00}
.pixel:nth-child(280){ background: #FFFF00}
.pixel:nth-child(279){ background: #FFFF00}
.pixel:nth-child(278){ background: #FFFF00}
.pixel:nth-child(277){ background: #FFFF00}
.pixel:nth-child(276){ background: #FFFF00}
.pixel:nth-child(275){ background: #FFFF00}
.pixel:nth-child(274){ background: #FFFF00}
.pixel:nth-child(273){ background: #FFFF00}
.pixel:nth-child(272){ background: #FFFF00}
.pixel:nth-child(271){ background: #FFFF00}
.pixel:nth-child(270){ background: #FFFF00}
.pixel:nth-child(269){ background: #FFFF00}
.pixel:nth-child(268){ background: #FFFF00}
.pixel:nth-child(267){ background: #FFFF00}
.pixel:nth-child(266){ background: #FFFF00}
.pixel:nth-child(265){ background: #FFFF00}
.pixel:nth-child(264){ background: #FFFF00}
.pixel:nth-child(252){ background: #FFFF00}
.pixel:nth-child(251){ background: #FFFF00}
.pixel:nth-child(250){ background: #FFFF00}
.pixel:nth-child(249){ background: #FFFF00}
.pixel:nth-child(248){ background: #FFFF00}
.pixel:nth-child(247){ background: #FFFF00}
.pixel:nth-child(246){ background: #FFFF00}
.pixel:nth-child(245){ background: #FFFF00}
.pixel:nth-child(244){ background: #FFFF00}
.pixel:nth-child(243){ background: #FFFF00}
.pixel:nth-child(242){ background: #FFFF00}
.pixel:nth-child(241){ background: #FFFF00}
.pixel:nth-child(240){ background: #FFFF00}
.pixel:nth-child(239){ background: #FFFF00}
.pixel:nth-child(238){ background: #FFFF00}
.pixel:nth-child(237){ background: #FFFF00}
.pixel:nth-child(236){ background: #FFFF00}
.pixel:nth-child(235){ background: #FFFF00}
.pixel:nth-child(234){ background: #FFFF00}
.pixel:nth-child(233){ background: #FFFF00}
.pixel:nth-child(232){ background: #FFFF00}
.pixel:nth-child(231){ background: #FFFF00}
.pixel:nth-child(230){ background: #FFFF00}
.pixel:nth-child(229){ background: #FFFF00}
.pixel:nth-child(228){ background: #FFFF00}
.pixel:nth-child(227){ background: #FFFF00}
.pixel:nth-child(213){ background: #FFFF00}
.pixel:nth-child(212){ background: #FFFF00}
.pixel:nth-child(211){ background: #FFFF00}
.pixel:nth-child(210){ background: #FFFF00}
.pixel:nth-child(209){ background: #FFFF00}
.pixel:nth-child(208){ background: #FFFF00}
.pixel:nth-child(207){ background: #FFFF00}
.pixel:nth-child(206){ background: #FFFF00}
.pixel:nth-child(205){ background: #FFFF00}
.pixel:nth-child(204){ background: #FFFF00}
.pixel:nth-child(203){ background: #FFFF00}
.pixel:nth-child(202){ background: #FFFF00}
.pixel:nth-child(201){ background: #FFFF00}
.pixel:nth-child(200){ background: #FFFF00}
.pixel:nth-child(199){ background: #FFFF00}
.pixel:nth-child(198){ background: #FFFF00}
.pixel:nth-child(197){ background: #FFFF00}
.pixel:nth-child(196){ background: #FFFF00}
.pixel:nth-child(195){ background: #FFFF00}
.pixel:nth-child(194){ background: #FFFF00}
.pixel:nth-child(193){ background: #FFFF00}
.pixel:nth-child(192){ background: #FFFF00}
.pixel:nth-child(191){ background: #FFFF00}
.pixel:nth-child(174){ background: #FFFF00}
.pixel:nth-child(173){ background: #FFFF00}
.pixel:nth-child(172){ background: #FFFF00}
.pixel:nth-child(171){ background: #FFFF00}
.pixel:nth-child(170){ background: #FFFF00}
.pixel:nth-child(169){ background: #FFFF00}
.pixel:nth-child(168){ background: #FFFF00}
.pixel:nth-child(167){ background: #FFFF00}
.pixel:nth-child(166){ background: #FFFF00}
.pixel:nth-child(165){ background: #FFFF00}
.pixel:nth-child(164){ background: #FFFF00}
.pixel:nth-child(163){ background: #FFFF00}
.pixel:nth-child(162){ background: #FFFF00}
.pixel:nth-child(161){ background: #FFFF00}
.pixel:nth-child(160){ background: #FFFF00}
.pixel:nth-child(159){ background: #FFFF00}
.pixel:nth-child(158){ background: #FFFF00}
.pixel:nth-child(157){ background: #FFFF00}
.pixel:nth-child(156){ background: #FFFF00}
.pixel:nth-child(155){ background: #FFFF00}
.pixel:nth-child(154){ background: #FFFF00}
.pixel:nth-child(136){ background: #FFFF00}
.pixel:nth-child(135){ background: #FFFF00}
.pixel:nth-child(134){ background: #FFFF00}
.pixel:nth-child(133){ background: #FFFF00}
.pixel:nth-child(132){ background: #FFFF00}
.pixel:nth-child(131){ background: #FFFF00}
.pixel:nth-child(130){ background: #FFFF00}
.pixel:nth-child(129){ background: #FFFF00}
.pixel:nth-child(128){ background: #FFFF00}
.pixel:nth-child(127){ background: #FFFF00}
.pixel:nth-child(126){ background: #FFFF00}
.pixel:nth-child(125){ background: #FFFF00}
.pixel:nth-child(124){ background: #FFFF00}
.pixel:nth-child(123){ background: #FFFF00}
.pixel:nth-child(122){ background: #FFFF00}
.pixel:nth-child(121){ background: #FFFF00}
.pixel:nth-child(120){ background: #FFFF00}
.pixel:nth-child(119){ background: #FFFF00}
.pixel:nth-child(118){ background: #FFFF00}
.pixel:nth-child(98){ background: #FFFF00}
.pixel:nth-child(97){ background: #FFFF00}
.pixel:nth-child(96){ background: #FFFF00}
.pixel:nth-child(95){ background: #FFFF00}
.pixel:nth-child(94){ background: #FFFF00}
.pixel:nth-child(93){ background: #FFFF00}
.pixel:nth-child(92){ background: #FFFF00}
.pixel:nth-child(91){ background: #FFFF00}
.pixel:nth-child(90){ background: #FFFF00}
.pixel:nth-child(89){ background: #FFFF00}
.pixel:nth-child(88){ background: #FFFF00}
.pixel:nth-child(87){ background: #FFFF00}
.pixel:nth-child(86){ background: #FFFF00}
.pixel:nth-child(85){ background: #FFFF00}
.pixel:nth-child(84){ background: #FFFF00}
.pixel:nth-child(83){ background: #FFFF00}
.pixel:nth-child(82){ background: #FFFF00}
.pixel:nth-child(62){ background: #FFFF00}
.pixel:nth-child(61){ background: #FFFF00}
.pixel:nth-child(60){ background: #FFFF00}
.pixel:nth-child(59){ background: #FFFF00}
.pixel:nth-child(58){ background: #FFFF00}
.pixel:nth-child(57){ background: #FFFF00}
.pixel:nth-child(56){ background: #FFFF00}
.pixel:nth-child(49){ background: #FFFF00}
.pixel:nth-child(48){ background: #FFFF00}
.pixel:nth-child(47){ background: #FFFF00}
.pixel:nth-child(46){ background: #FFFF00}
.pixel:nth-child(45){ background: #FFFF00}
.pixel:nth-child(44){ background: #FFFF00}
.pixel:nth-child(25){ background: #FFFF00}
.pixel:nth-child(24){ background: #FFFF00}
.pixel:nth-child(23){ background: #FFFF00}
.pixel:nth-child(22){ background: #FFFF00}
.pixel:nth-child(21){ background: #FFFF00}
.pixel:nth-child(11){ background: #FFFF00}
.pixel:nth-child(10){ background: #FFFF00}
.pixel:nth-child(9){ background: #FFFF00}
.pixel:nth-child(8){ background: #FFFF00}
.pixel:nth-child(7){ background: #FFFF00}
 .pixel:nth-child(1445){ background: #000000}
.pixel:nth-child(1444){ background: #000000}
.pixel:nth-child(1410){ background: #000000}
.pixel:nth-child(1409){ background: #000000}
.pixel:nth-child(1408){ background: #000000}
.pixel:nth-child(1407){ background: #000000}
.pixel:nth-child(1375){ background: #000000}
.pixel:nth-child(1374){ background: #000000}
.pixel:nth-child(1373){ background: #000000}
.pixel:nth-child(1372){ background: #000000}
.pixel:nth-child(1371){ background: #000000}
.pixel:nth-child(1370){ background: #000000}
.pixel:nth-child(1339){ background: #000000}
.pixel:nth-child(1335){ background: #000000}
.pixel:nth-child(1334){ background: #000000}
.pixel:nth-child(1333){ background: #000000}
.pixel:nth-child(1329){ background: #000000}
.pixel:nth-child(1328){ background: #000000}
.pixel:nth-child(1327){ background: #000000}
.pixel:nth-child(1326){ background: #000000}
.pixel:nth-child(1325){ background: #000000}
.pixel:nth-child(1324){ background: #000000}
.pixel:nth-child(1303){ background: #000000}
.pixel:nth-child(1298){ background: #000000}
.pixel:nth-child(1297){ background: #000000}
.pixel:nth-child(1292){ background: #000000}
.pixel:nth-child(1291){ background: #000000}
.pixel:nth-child(1290){ background: #000000}
.pixel:nth-child(1286){ background: #000000}
.pixel:nth-child(1285){ background: #000000}
.pixel:nth-child(1284){ background: #000000}
.pixel:nth-child(1283){ background: #000000}
.pixel:nth-child(1267){ background: #000000}
.pixel:nth-child(1261){ background: #000000}
.pixel:nth-child(1260){ background: #000000}
.pixel:nth-child(1253){ background: #000000}
.pixel:nth-child(1252){ background: #000000}
.pixel:nth-child(1245){ background: #000000}
.pixel:nth-child(1244){ background: #000000}
.pixel:nth-child(1243){ background: #000000}
.pixel:nth-child(1242){ background: #000000}
.pixel:nth-child(1240){ background: #000000}
.pixel:nth-child(1239){ background: #000000}
.pixel:nth-child(1238){ background: #000000}
.pixel:nth-child(1237){ background: #000000}
.pixel:nth-child(1236){ background: #000000}
.pixel:nth-child(1235){ background: #000000}
.pixel:nth-child(1234){ background: #000000}
.pixel:nth-child(1232){ background: #000000}
.pixel:nth-child(1231){ background: #000000}
.pixel:nth-child(1224){ background: #000000}
.pixel:nth-child(1215){ background: #000000}
.pixel:nth-child(1214){ background: #000000}
.pixel:nth-child(1204){ background: #000000}
.pixel:nth-child(1196){ background: #000000}
.pixel:nth-child(1188){ background: #000000}
.pixel:nth-child(1177){ background: #000000}
.pixel:nth-child(1176){ background: #000000}
.pixel:nth-child(1152){ background: #000000}
.pixel:nth-child(1139){ background: #000000}
.pixel:nth-child(1138){ background: #000000}
.pixel:nth-child(1118){ background: #000000}
.pixel:nth-child(1116){ background: #000000}
.pixel:nth-child(1100){ background: #000000}
.pixel:nth-child(1099){ background: #000000}
.pixel:nth-child(1097){ background: #000000}
.pixel:nth-child(1080){ background: #000000}
.pixel:nth-child(1073){ background: #000000}
.pixel:nth-child(1061){ background: #000000}
.pixel:nth-child(1043){ background: #000000}
.pixel:nth-child(1036){ background: #000000}
.pixel:nth-child(1035){ background: #000000}
.pixel:nth-child(1024){ background: #000000}
.pixel:nth-child(1006){ background: #000000}
.pixel:nth-child(999){ background: #000000}
.pixel:nth-child(997){ background: #000000}
.pixel:nth-child(988){ background: #000000}
.pixel:nth-child(968){ background: #000000}
.pixel:nth-child(962){ background: #000000}
.pixel:nth-child(959){ background: #000000}
.pixel:nth-child(951){ background: #000000}
.pixel:nth-child(931){ background: #000000}
.pixel:nth-child(925){ background: #000000}
.pixel:nth-child(921){ background: #000000}
.pixel:nth-child(914){ background: #000000}
.pixel:nth-child(894){ background: #000000}
.pixel:nth-child(888){ background: #000000}
.pixel:nth-child(883){ background: #000000}
.pixel:nth-child(878){ background: #000000}
.pixel:nth-child(856){ background: #000000}
.pixel:nth-child(851){ background: #000000}
.pixel:nth-child(845){ background: #000000}
.pixel:nth-child(841){ background: #000000}
.pixel:nth-child(819){ background: #000000}
.pixel:nth-child(814){ background: #000000}
.pixel:nth-child(807){ background: #000000}
.pixel:nth-child(804){ background: #000000}
.pixel:nth-child(782){ background: #000000}
.pixel:nth-child(777){ background: #000000}
.pixel:nth-child(769){ background: #000000}
.pixel:nth-child(767){ background: #000000}
.pixel:nth-child(745){ background: #000000}
.pixel:nth-child(740){ background: #000000}
.pixel:nth-child(731){ background: #000000}
.pixel:nth-child(730){ background: #000000}
.pixel:nth-child(729){ background: #000000}
.pixel:nth-child(709){ background: #000000}
.pixel:nth-child(703){ background: #000000}
.pixel:nth-child(693){ background: #000000}
.pixel:nth-child(692){ background: #000000}
.pixel:nth-child(672){ background: #000000}
.pixel:nth-child(665){ background: #000000}
.pixel:nth-child(656){ background: #000000}
.pixel:nth-child(654){ background: #000000}
.pixel:nth-child(636){ background: #000000}
.pixel:nth-child(627){ background: #000000}
.pixel:nth-child(620){ background: #000000}
.pixel:nth-child(618){ background: #000000}
.pixel:nth-child(598){ background: #000000}
.pixel:nth-child(589){ background: #000000}
.pixel:nth-child(584){ background: #000000}
.pixel:nth-child(581){ background: #000000}
.pixel:nth-child(580){ background: #000000}
.pixel:nth-child(561){ background: #000000}
.pixel:nth-child(553){ background: #000000}
.pixel:nth-child(548){ background: #000000}
.pixel:nth-child(544){ background: #000000}
.pixel:nth-child(524){ background: #000000}
.pixel:nth-child(516){ background: #000000}
.pixel:nth-child(510){ background: #000000}
.pixel:nth-child(508){ background: #000000}
.pixel:nth-child(487){ background: #000000}
.pixel:nth-child(478){ background: #000000}
.pixel:nth-child(472){ background: #000000}
.pixel:nth-child(471){ background: #000000}
.pixel:nth-child(449){ background: #000000}
.pixel:nth-child(440){ background: #000000}
.pixel:nth-child(434){ background: #000000}
.pixel:nth-child(412){ background: #000000}
.pixel:nth-child(402){ background: #000000}
.pixel:nth-child(398){ background: #000000}
.pixel:nth-child(397){ background: #000000}
.pixel:nth-child(375){ background: #000000}
.pixel:nth-child(364){ background: #000000}
.pixel:nth-child(360){ background: #000000}
.pixel:nth-child(338){ background: #000000}
.pixel:nth-child(328){ background: #000000}
.pixel:nth-child(323){ background: #000000}
.pixel:nth-child(301){ background: #000000}
.pixel:nth-child(290){ background: #000000}
.pixel:nth-child(286){ background: #000000}
.pixel:nth-child(264){ background: #000000}
.pixel:nth-child(252){ background: #000000}
.pixel:nth-child(251){ background: #000000}
.pixel:nth-child(249){ background: #000000}
.pixel:nth-child(227){ background: #000000}
.pixel:nth-child(213){ background: #000000}
.pixel:nth-child(212){ background: #000000}
.pixel:nth-child(211){ background: #000000}
.pixel:nth-child(191){ background: #000000}
.pixel:nth-child(174){ background: #000000}
.pixel:nth-child(154){ background: #000000}
.pixel:nth-child(136){ background: #000000}
.pixel:nth-child(118){ background: #000000}
.pixel:nth-child(98){ background: #000000}
.pixel:nth-child(93){ background: #000000}
.pixel:nth-child(92){ background: #000000}
.pixel:nth-child(91){ background: #000000}
.pixel:nth-child(90){ background: #000000}
.pixel:nth-child(89){ background: #000000}
.pixel:nth-child(88){ background: #000000}
.pixel:nth-child(87){ background: #000000}
.pixel:nth-child(82){ background: #000000}
.pixel:nth-child(62){ background: #000000}
.pixel:nth-child(58){ background: #000000}
.pixel:nth-child(57){ background: #000000}
.pixel:nth-child(56){ background: #000000}
.pixel:nth-child(49){ background: #000000}
.pixel:nth-child(48){ background: #000000}
.pixel:nth-child(44){ background: #000000}
.pixel:nth-child(25){ background: #000000}
.pixel:nth-child(24){ background: #000000}
.pixel:nth-child(23){ background: #000000}
.pixel:nth-child(22){ background: #000000}
.pixel:nth-child(21){ background: #000000}
.pixel:nth-child(11){ background: #000000}
.pixel:nth-child(10){ background: #000000}
.pixel:nth-child(9){ background: #000000}
.pixel:nth-child(8){ background: #000000}
.pixel:nth-child(7){ background: #000000}
 .pixel:nth-child(1289){ background: #FF9900}
.pixel:nth-child(1288){ background: #FF9900}
.pixel:nth-child(1287){ background: #FF9900}
.pixel:nth-child(1262){ background: #FF9900}
.pixel:nth-child(1251){ background: #CC6600}
.pixel:nth-child(1246){ background: #FF9900}
.pixel:nth-child(1226){ background: #FF9900}
.pixel:nth-child(1225){ background: #FF9900}
.pixel:nth-child(1213){ background: #CC6600}
.pixel:nth-child(1212){ background: #FF9900}
.pixel:nth-child(1205){ background: #FF9900}
.pixel:nth-child(1195){ background: #FF9900}
.pixel:nth-child(1190){ background: #FF9900}
.pixel:nth-child(1189){ background: #FF9900}
.pixel:nth-child(1175){ background: #FF9900}
.pixel:nth-child(1174){ background: #FF9900}
.pixel:nth-child(1173){ background: #FF9900}
.pixel:nth-child(1155){ background: #FF9900}
.pixel:nth-child(1154){ background: #FF9900}
.pixel:nth-child(1153){ background: #FF9900}
.pixel:nth-child(1137){ background: #FF9900}
.pixel:nth-child(1136){ background: #FF9900}
.pixel:nth-child(1135){ background: #FF9900}
.pixel:nth-child(1134){ background: #FF9900}
.pixel:nth-child(1133){ background: #FF9900}
.pixel:nth-child(1119){ background: #FF9900}
.pixel:nth-child(1117){ background: #FF9900}
.pixel:nth-child(1098){ background: #FF9900}
.pixel:nth-child(1081){ background: #FF9900}
.pixel:nth-child(998){ background: #FF9900}
.pixel:nth-child(987){ background: #FF9900}
.pixel:nth-child(969){ background: #FF9900}
.pixel:nth-child(694){ background: #FF9900}
.pixel:nth-child(691){ background: #FF9900}
.pixel:nth-child(673){ background: #FF9900}
.pixel:nth-child(617){ background: #FF9900}
.pixel:nth-child(609){ background: #FF9900}
.pixel:nth-child(608){ background: #FF9900}
.pixel:nth-child(607){ background: #FF9900}
.pixel:nth-child(606){ background: #FF9900}
.pixel:nth-child(599){ background: #FF9900}
.pixel:nth-child(571){ background: #FF9900}
.pixel:nth-child(570){ background: #FF9900}
.pixel:nth-child(437){ background: #FF9900}
.pixel:nth-child(436){ background: #FF9900}
.pixel:nth-child(435){ background: #CC6600}
.pixel:nth-child(430){ background: #FF9900}
.pixel:nth-child(415){ background: #FF9900}
.pixel:nth-child(401){ background: #FF9900}
.pixel:nth-child(400){ background: #FF9900}
.pixel:nth-child(399){ background: #FF9900}
.pixel:nth-child(393){ background: #FF9900}
.pixel:nth-child(378){ background: #FF9900}
.pixel:nth-child(363){ background: #FF9900}
.pixel:nth-child(362){ background: #CC6600}
.pixel:nth-child(361){ background: #CC6600}
.pixel:nth-child(355){ background: #FF9900}
.pixel:nth-child(342){ background: #FF9900}
.pixel:nth-child(327){ background: #CC6600}
.pixel:nth-child(326){ background: #CC6600}
.pixel:nth-child(325){ background: #CC6600}
.pixel:nth-child(324){ background: #CC6600}
.pixel:nth-child(317){ background: #FF9900}
.pixel:nth-child(306){ background: #FF9900}
.pixel:nth-child(289){ background: #CC6600}
.pixel:nth-child(288){ background: #CC6600}
.pixel:nth-child(287){ background: #CC6600}
.pixel:nth-child(250){ background: #CC6600}
.pixel:nth-child(248){ background: #FF9900}
.pixel:nth-child(129){ background: #FF9900}
.pixel:nth-child(128){ background: #FF9900}
.pixel:nth-child(127){ background: #FF9900}
.pixel:nth-child(126){ background: #FF9900}
.pixel:nth-child(125){ background: #FF9900}
.pixel:nth-child(97){ background: #FF9900}
.pixel:nth-child(95){ background: #FF9900}
.pixel:nth-child(94){ background: #FF9900}
.pixel:nth-child(86){ background: #FF9900}
.pixel:nth-child(85){ background: #FF9900}
.pixel:nth-child(83){ background: #FF9900}
 .pixel:nth-child(1020){ background: #000000}
.pixel:nth-child(1019){ background: #000000}
.pixel:nth-child(1010){ background: #000000}
.pixel:nth-child(1009){ background: #000000}
.pixel:nth-child(984){ background: #000000}
.pixel:nth-child(983){ background: #000000}
.pixel:nth-child(982){ background: #FFFFFF}
.pixel:nth-child(981){ background: #000000}
.pixel:nth-child(974){ background: #000000}
.pixel:nth-child(973){ background: #000000}
.pixel:nth-child(972){ background: #FFFFFF}
.pixel:nth-child(971){ background: #000000}
.pixel:nth-child(947){ background: #000000}
.pixel:nth-child(946){ background: #000000}
.pixel:nth-child(945){ background: #000000}
.pixel:nth-child(944){ background: #000000}
.pixel:nth-child(937){ background: #000000}
.pixel:nth-child(936){ background: #000000}
.pixel:nth-child(935){ background: #000000}
.pixel:nth-child(934){ background: #000000}
.pixel:nth-child(909){ background: #000000}
.pixel:nth-child(908){ background: #000000}
.pixel:nth-child(899){ background: #000000}
.pixel:nth-child(898){ background: #000000}
.pixel:nth-child(867){ background: #000000}
.pixel:nth-child(866){ background: #000000}
.pixel:nth-child(796){ background: #000000}
.pixel:nth-child(793){ background: #000000}
.pixel:nth-child(792){ background: #000000}
.pixel:nth-child(789){ background: #000000}
.pixel:nth-child(758){ background: #000000}
.pixel:nth-child(757){ background: #000000}
.pixel:nth-child(754){ background: #000000}
.pixel:nth-child(753){ background: #000000}
.pixel:nth-child(537){ background: #000000}
.pixel:nth-child(530){ background: #000000}
.pixel:nth-child(504){ background: #000000}
.pixel:nth-child(500){ background: #000000}
.pixel:nth-child(493){ background: #000000}
.pixel:nth-child(489){ background: #000000}
.pixel:nth-child(467){ background: #000000}
.pixel:nth-child(462){ background: #000000}
.pixel:nth-child(457){ background: #000000}
.pixel:nth-child(452){ background: #000000}
.pixel:nth-child(429){ background: #000000}
.pixel:nth-child(425){ background: #000000}
.pixel:nth-child(420){ background: #000000}
.pixel:nth-child(416){ background: #000000}
.pixel:nth-child(392){ background: #000000}
.pixel:nth-child(388){ background: #000000}
.pixel:nth-child(383){ background: #000000}
.pixel:nth-child(379){ background: #000000}
.pixel:nth-child(354){ background: #000000}
.pixel:nth-child(351){ background: #000000}
.pixel:nth-child(346){ background: #000000}
.pixel:nth-child(343){ background: #000000}
.pixel:nth-child(316){ background: #000000}
.pixel:nth-child(315){ background: #000000}
.pixel:nth-child(308){ background: #000000}
.pixel:nth-child(307){ background: #000000}
 .pixel:nth-child(875){ background: #FF0000}
.pixel:nth-child(874){ background: #FF0000}
.pixel:nth-child(859){ background: #FF0000}
.pixel:nth-child(858){ background: #FF0000}
.pixel:nth-child(839){ background: #FF0000}
.pixel:nth-child(838){ background: #FF0000}
.pixel:nth-child(837){ background: #FF0000}
.pixel:nth-child(836){ background: #FF0000}
.pixel:nth-child(823){ background: #FF0000}
.pixel:nth-child(822){ background: #FF0000}
.pixel:nth-child(821){ background: #FF0000}
.pixel:nth-child(820){ background: #FF0000}
.pixel:nth-child(802){ background: #FF0000}
.pixel:nth-child(801){ background: #FF0000}
.pixel:nth-child(800){ background: #FF0000}
.pixel:nth-child(799){ background: #FF0000}
.pixel:nth-child(786){ background: #FF0000}
.pixel:nth-child(785){ background: #FF0000}
.pixel:nth-child(784){ background: #FF0000}
.pixel:nth-child(783){ background: #FF0000}
.pixel:nth-child(764){ background: #FF0000}
.pixel:nth-child(763){ background: #FF0000}
.pixel:nth-child(748){ background: #FF0000}
.pixel:nth-child(747){ background: #FF0000}
